[2010-05-30 22:49] ghost opened #1 "load balancing, failover behaivor, connection pooling support as hector"
Hi,

Great project, thanks for sharing ! Can you please add the features of hector http://github.com/rantav/hector
I know It's not a simple job and hectorsharp also tried this, but this project seems have more potential.

And I didn't look at the code but EmitMapper http://emitmapper.codeplex.com/ may help for ultra fast mapping and http://fasterflect.codeplex.com/ may help for fast reflection cal

[2010-05-30 23:40] managedfusion commented on #1
That has actually been on my hit list, but I really haven't had a chance to figure out the best method for failing over.  Is there an algorithm that you would like to see, or a simple round robin failover, sort of the way that load balancing works, where it just goes through a simple list.

[2010-05-30 23:58] ghost commented on #1
Thank you very much for your answer.

I don't know java well but it seems that hector use a simple client list to retry with next on fail (and a sleep before retry) as you can see below...

http://github.com/rantav/hector/blob/master/src/main/java/me/prettyprint/cassandra/service/FailoverOperator.java

[2010-05-31 07:24] managedfusion commented on #1
Before I merge in to master, please look at what I have done:  I hope it meets you needs.  It accomplishes the following:
- Failovers
- Connection Pooling
- Load Balancing (random selection from server list)

http://github.com/managedfusion/fluentcassandra/blob/issue-1/FluentCassandra/Connection/NormalConnectionProvider.cs
http://github.com/managedfusion/fluentcassandra/blob/issue-1/FluentCassandr

[2010-05-31 08:46] ghost commented on #1
You're very responsive and super fast and also very kind, thank you very much for your work and sharing it...

Best Regards,
SI

[2010-05-31 15:51] managedfusion commented on #1
That didn't really answer my question that I had for you, but I think I am close enough to what you wanted.

[2010-05-31 20:21] ghost commented on #1
The code seems very good to me, it's all I have dreamed, thank you very much.

[2010-05-31 20:24] ghost commented on #1
This is out of subject, but, is cassandra work on windows as fast as linux, do you have any experience ?

[2010-05-31 20:27] managedfusion commented on #1
Cassandra is fully Java based.  So any research you do on Java comparisons will likely apply.

[2010-05-31 20:29] ghost commented on #1
thanks again

[2010-05-31 22:51] #1 closed, assigned to nberardi

[2010-06-21 09:17] robinsu opened #2 "Check the ColumnName is existing"
In 2010/06/14 update, the dynamic properties will return default cast value instead of throw a runtime exception. Basically, it is great approach and avoid throw exception.
But, In some scenario, it will cause confuse between default value and null value. Does any method to check ColumnName is existing or any suggestions ?

Thanks a lot,
- ROBIN SU

[2010-06-21 11:44] managedfusion commented on #2
Good question.  I hid away the NullType that is being returned, but maybe I should make it public so that you can check the type being returned.  Do you have a way you would like to work with a non-existant column?

[2010-06-22 03:06] robinsu commented on #2
there are two options which our wish.
1. provide one method function to check the column is existing or not.
2. support using .Net generic Nullable<> Type.

we are very appreciate to your great help and valuable support.
Thank you very much,

[2010-06-22 03:26] oliverhuang opened #3 "Bug at LongTypeConverter"
LongTypeConverter.cs line 24.

when value is byte[], it should:

return BitConverter.ToInt64((byte[])value, 0);

instead of:

return BitConverter.GetBytes((long)value);

[2010-06-22 03:34] oliverhuang commented on #3
Oh sorry... my FluentCassandra is not the latest version. And I found the bug had been fixed in latest version.

[2010-06-22 03:34] #3 closed, assigned to nberardi

[2010-06-22 07:43] oliverhuang opened #4 "Clear _trackers after db.SaveChanges()"
In the method CassandraContext.SaveChanges(), after saving the changes, you only clear the trackers in _trackers. Why don't you clear the _trackers it self ?

When the size of _trackers is big, Attach() and SaveChanges() will consume very much time...

[2010-06-22 11:55] managedfusion commented on #4
Please see latest commit, this should solve the problem.

http://github.com/managedfusion/fluentcassandra/commit/2b16d7fc495015035800d7ae0fdeee21e6c248d4

Nick

[2010-06-27 21:02] kieranbenton opened #5 "Consistency Levels / ConnectionBuilder"
Hi, absolutely love the project and would be interested in contributing on bugs/performance if our usage of Cassandra takes off!

One area which is a bit grey to me at the moment is how to specify the Consistency Levels for both reads and writes. Is this set at creation of the CassandraContext time or per SaveChanges() call?

I'm guessing its the former and these are to be exposed as part of Conne

[2010-06-28 23:53] managedfusion commented on #5
There is actually a new feature in the works that lets you wrap your code in a session.
using(var context = new CassandraContext(...)) {
using(var session = new CassandraSession(read: ConsistencyLevel.ONE, wrote" ConsistencyLevel.ONE)) {
...
}
}

So that you can control the ConsistencyLevel for the read and writes and make them different from the defaults in the connection string.

[2010-06-29 12:07] kieranbenton commented on #5
That looks absolutely brilliant!

Have you an idea of how to specify connection pooling / server pools yet? Or is that an area still in flux?

Have you thought about getting a wiki somewhere setup to start some documentation (I could potentially give you a hand). I'm not sure what GitHub offer in that respect?

Cheers,
Kieran

[2010-06-30 06:34] oliverhuang commented on #4
Thanks!

[2010-06-30 06:34] #4 closed, assigned to nberardi

[2010-06-30 06:40] oliverhuang opened #6 "Bug in IConnectionProvider.Get(ConnectionBuilder connectionBuilder)"
The 'using (TimedLock.Lock(_lock))' should be in front of 'if (!_providers....)'.

Lock before checking the existence of provider, to avoid threads conflicts.

[2010-06-30 11:55] nberardi commented on #6
You are right, thanks.  I have fixed this issue in the latest commit:

http://github.com/managedfusion/fluentcassandra/commit/f0663287fef6f44b166c7e292e5e596680919485

[2010-06-30 11:55] #6 closed, assigned to nberardi

[2010-07-07 19:26] nberardi commented on #2
Sorry this has taken so long, but I have finally found some time to add the feature you requested.

http://github.com/managedfusion/fluentcassandra/commit/3cf99745f37951d4003486f2c07d78a252adf26e

Now you will be able to use the method

if (ColumnExists("ColumnName"))

And you can now cast to Nullable types if and when supported by the underlying Cassandra type.

Let me know if this solves you iss

[2010-07-07 19:40] nberardi commented on #5
Sorry this took so long to get back to you.

For using Pooled or any of the advanced features you need to create a connection string.  The connection string is pass in the exact same way.

[code]

Does this work for you.  I am still working out the algorithm for failover connections.  But pooled should work as expected.

[2010-07-08 02:33] robinsu commented on #2
Thank you so much !!

[2010-07-08 11:08] #2 closed, assigned to nberardi

[2010-07-14 11:51] kieranbenton commented on #5
Thats perfect.

Is the connection string something standard or is it something you're working on just for this project?

[2010-07-14 12:18] nberardi commented on #5
It is just for this project.

[2010-07-18 00:47] #5 closed, assigned to nberardi

[2010-08-23 02:25] nberardi opened #7 "Add support for different input and output connections per client"

[2010-10-25 18:04] trimbo opened #8 "What's the license?"
Hi, I'm interested in this package, but need to know what the license is.  Thank you!

[2010-10-26 18:43] trimbo commented on #8
Nick uploaded one -- it's apache.

[2010-10-27 01:43] #8 closed, assigned to nberardi

[2010-11-12 16:54] nberardi commented on #8
We are going to stick with the same license as Cassandra to make the transitions easy and adoption quick in companies.

[2010-12-02 03:18] nberardi opened #9 "Add support for both TSocket and TFramedTransport"

[2011-05-11 10:45] AndyPook opened #11 "Plan to support 0.8?"
With Cassandra 0.8 on feature freeze (rc1 under vote right now). Are there any plans to support it?

[2011-05-24 10:35] razzmatazz opened #12 "family.CreateRecord(key: key) doesnt check if BytesType is of 0 length"
Take for example this code:

[code]

This fails on runtime with <b>"A first chance exception of type 'Apache.Cassandra.InvalidRequestException' occurred in FluentCassandra.dll"</b> exception in Casssandra.cs: public void recv_batch_mutate()

Took me some time to figure out what is wrong (even though it now seems obvious): key is of 0 bytes length.

There should be a better error message and/or exc

[2011-05-24 10:48] razzmatazz opened #13 "not clear if record.TrySetColumn() is a valid way to set a named column"
Take this code:

[code]

Is it a correct way to set named columns this way? The "Try" prefix on the method doesn't encourage trust that this is a legal API to use for this purpose.

[2011-07-05 16:08] Robs79 opened #14 "What version of Cassandra does Fluent Cassandra v0.7.0.3 support?"
Hi

What version of Cassandra does Fluent Cassandra 0.7.0.3 support?

[2011-12-16 14:08] JackinLost opened #16 "Followed the First Fluent Cassandra example, but not get through"
Hello @nberardi

I followed "Your First Fluent Cassandra" example, with some modification (the article is creating a super-column, but I only need column), but it gave an exception of Apache.Cassandra.Unavailable.

It seems the updating is fine, but the exception was given when I try to read(key) after a update.

Could you please have a look at my simple class file? I am using Cassandra 1.0.6 by t

[2011-12-22 14:05] nberardi commented on #16
I know it is really out dated and I have to partially apologize for that.  But since that article was written the Cassandra database has had many API changes and other fundamental changes that I just haven't been able to write about them.  To see a working example you can go here:

https://github.com/managedfusion/fluentcassandra/blob/master/test/FluentCassandra.Sandbox/Program.cs

[2011-12-22 14:05] #16 closed, assigned to nberardi

[2011-12-22 14:49] nberardi commented on #14
It should support any 0.7 version of cassandra.

[2011-12-22 14:49] #14 closed, assigned to nberardi

[2011-12-22 14:50] nberardi commented on #11
It is currently supported.

[2011-12-22 14:50] #11 closed, assigned to nberardi

[2012-01-25 08:36] Scentses opened #17 "Make A Documentation"
There is neither a documentation, nor intellisense-aware comments, nor are there any comments in the code. I am stuck at a point, which could be easily passed with only one or two sentences.
Or isn't this project made for public use?

[2012-01-27 07:30] nberardi commented on #12
Sorry this has taken so long to respond to.

[2012-01-27 07:30] #12 closed, assigned to nberardi

[2012-01-27 07:43] nberardi commented on #13
These methods are designed to be used to support the dynamic keyword.  There isn't really anyway to delete them or make them private given DynamicObject's exposed methods.  Technically there is nothing wrong with what you have done, but it should be discouraged.  Which is why I have added the:

[code]

To the dynamic support methods.

[2012-01-27 07:43] #13 closed, assigned to nberardi

[2012-01-27 07:47] nberardi commented on #17
This project is made for public use, but it is also maintained and created by one person with a limited amount of time on his hands. Just keeping up with the constantly changing API of Cassandra is enough for one person. This project is provided for the benefit and consumption by interested developers, and if they derive value from it, I hope that they would contribute back in easy ways such as do

[2012-01-27 07:47] #17 closed, assigned to nberardi

[2012-03-28 12:52] asgeirh opened #20 "countercolumntype missing in CassandraType"
Hi

   countercolumntype is missing in Parse method in CassandraType.cs

case "countercolumntype": _type = typeof(CounterColumnType); break;

Regards,
  Ásgeir Halldórsson

[2012-04-03 21:50] nberardi commented on #20
Can you submit a pull request to me for this?

[2012-04-04 00:16] #20 closed, assigned to nberardi

[2012-04-24 15:00] Smoles opened #21 ""Error deflating query string." when using CQL."
There seems to be an issue when you create an instance of CassandraContext() using a single ConnectionString parameter. After doing this if you call ExecuteQuery() passing in some CQL an error of "Error deflating query string." is returned. See example below.

[code]

What's interesting is if you create a CassandraContext() passing in the Keyspace and Server as separate parameters then everything

[2012-04-24 15:10] Smoles opened #22 ""cannot parse 'Key1' as hex bytes" error when doing a CQL INSERT"
When I try to do a CQL INSERT statement using ExecuteNoQuery I get a "cannot parse 'Key1' as hex bytes" error. The same error is thrown when trying to do an UPDATE statement also. See example below.

[code]

[2012-05-01 22:04] Smoles commented on #22
I figured out my issue. The problem was that I created the ColumnFamily with-in DataStax OpsCenter and it didn't prompt for a datatype on the KEY column so it was set to the default of blob. So when executing the INSERT statement passing in a string value it didn't pass the validation. I re-created the CF specifying the KEY datatype as text and then the INSERT worked just fine.

[2012-05-01 22:04] #22 closed, assigned to nberardi

[2012-05-02 15:37] Smoles commented on #21
So I think I've figured out the reason for the difference in behavior. It looks like when you pass in a connection string to the CassandraContext it sets CompressCqlQueries to a different default value. In the ConnectionBuilder.InitializeConnectionString() method when it checks for "Compress CQL Queries", if it's not found it then defaults to true. However, the ConnectionBuilder() constructor that

[2012-05-02 15:48] Smoles commented on #21
One other note. It looks like ConnectionBuilder.GetConnectionString() is not appending the "Compress CQL Queries" option to the connection string. Not sure if this was intentional but I would think that it should be included.

[2012-05-03 13:38] tjrobinson opened #23 "Tests failing in GuidGeneratorTest fixture"
On the master branch two of the tests are failing:

**FluentCassandra.GuidGeneratorTest.GetDateTimeLocal**

[code]

**FluentCassandra.GuidGeneratorTest.GetDateTimeUnspecified**

[code]

I will investigate and if I can resolve the problem then I'll submit a fix.

[2012-05-03 13:44] tjrobinson commented on #23
It's worth mentioning that I'm running this on a machine in the UK which is in the "(UTC) Dublin, Edinburgh, Lisbon, London" time zone, currently in Daylight Saving Time (UTC +1).

[2012-05-09 00:40] nberardi commented on #23
Thank you I will take a look at this.

[2012-05-09 01:36] nberardi commented on #23
I had a similar issue just pop up recently.  I need to investigate further.

[2012-05-09 01:39] nberardi commented on #21
Yeah I had an issue getting the compression to work.  I must have just corrected the default constructor and not everything else.  I will make this consistent in the next push.

[2012-05-09 03:37] nberardi commented on #21
The latest code should reflect support for compression and normalization of ConnectionBuilder settings.

[2012-05-09 03:37] #21 closed, assigned to nberardi

[2012-05-09 04:09] nberardi commented on #23
It appears the DateTime and DateTimeOffset objects don't abide by day light savings time.

[2012-05-09 04:11] nberardi commented on #23
This change will go out with the next push to NuGet.  Thank you for submitting this bug.

[2012-05-09 04:11] #23 closed, assigned to nberardi

[2012-05-09 04:12] nberardi commented on #9
This is already present in the framework.

[2012-05-09 04:12] #9 closed, assigned to nberardi

[2012-05-10 14:39] Smoles opened #24 "TimeStamp should be switched to Microseconds"
So I ran into an issue last week were when using a CQL statement to insert a column, letting it implicitly set the TimeStamp, it's using Microseconds. From what I see, FluentCassandra is using Milliseconds and when it tries to read this out of the database it throws an exception. I see you add some code recently to sort of handle this but I don't think the implementation is flawless. As you get cl

[2012-05-10 15:24] Smoles opened #25 "Decimal Issues"
So I created a table with a default_validation of type decimal. When I use a CQL statement to insert a new column and then attempt to read that column back out, FluentCassandra throws an exception why trying to convert the byte array to a decimal. The exception happens in BytesTypeConvert.ToDecimal().

It seems that the way CQL converts a decimal to a byte array is different then how Fluent is doi

[2012-05-10 20:39] Smoles opened #26 "Issues with Selecting Deleted (tombstoned) Columns"
So I deleted a column from a row and then attempted to do a select for that column on that row and FluentCassandra threw an exception. From my understanding, when a column is "deleted" in Cassandra it's actually marked as tombstoned and technically still exits until garbage collection hits. However, it's value is set to NULL. When you attempt to select that column Cassandra actually returns the co

[2012-05-11 04:04] nberardi commented on #24
I fixed the microseconds throwing an exception by dividing by 1000 when I encounter them.  However most frameworks are storing the Timestamp as Milliseconds or UNIX time.

https://github.com/managedfusion/fluentcassandra/commit/a307b8e5f8cc938bcc86b1f2bf9c4a265b1adaea#L3R148

I am not sure which is better, to start inserting microseconds from the FluentCassandra framework which would read and writ

[2012-05-11 04:06] nberardi commented on #26
Can you provide a Test or a stacktrace for this issue?  You can see how I am creating tests for bugs here. https://github.com/managedfusion/fluentcassandra/blob/master/test/FluentCassandra.Tests/Bugs/Issue25JavaBigDecimalBinaryConversion.cs

[2012-05-11 05:19] nberardi commented on #25
This is a disconnect on how decimals are stored.  .NET expects to always have 16 bytes.  However Java's BigDecimal object can have at the minimum 5 bytes and I don't really know the maximum.

[2012-05-11 05:19] nberardi commented on #25
This is a partial fix for this issue.  Negative values aren't supported, but if you want to play around with the binary logic to try and get negative values support that would be very helpful.

[2012-05-11 13:35] nberardi commented on #25
Fixed the issue by creating a very crude mock BigDecimal in a similar way to how Java defines it.

https://github.com/managedfusion/fluentcassandra/blob/master/src/Types/BigDecimal.cs

[2012-05-11 13:35] #25 closed, assigned to nberardi

[2012-05-11 16:34] Smoles commented on #24
As I mentioned above I think you should let this be a user decision. Create a config setting (Timestamp Precision) that is set as part of the connection string. When it's set to microseconds then data going in and out of cassandra should be preserved as microseconds. If it's set to milliseconds then it should store and retrieve the value as milliseconds. My assumption is that most people won't hav

[2012-05-11 18:28] nberardi commented on #24
I like to program software with convention over configuration.  So I went with microsecond format since that is the convention that Cassandra is using.

[2012-05-11 18:28] #24 closed, assigned to nberardi

[2012-05-14 16:03] Smoles commented on #26
Here's the code that causes the issue:

[code]

Here's the exception details:

System.NullReferenceException was unhandled by user code
  Message=Object reference not set to an instance of an object.
  Source=FluentCassandra
  StackTrace:
       at FluentCassandra.Types.CassandraObjectConverter`1.ConvertEndian(Byte[] value) in C:\SourceCode\FluentCassandra\src\Types\CassandraObjectConverter.cs:lin

[2012-05-14 16:05] nberardi commented on #26
Can you create a test similar to how I did for the other issue, and send me a pull request for the code.  If you create the test and get it to break, I can work on getting a fix for you.

[2012-05-18 15:38] Caldas opened #28 "Problem with GuidGenerator on AsParallel context"
Hi man, here is the code that I´m testing:

[code]

Because of parallel I just insert 2 or 3 items instead of 5.

[2012-05-18 17:24] kguner opened #29 "Connection Pool Not Releasing Connections"
Description:  in PooledConnectionProvider.cs _usedConnections is being filled up (100) and not being released.

Usage (my code):

[code]

in MultiGetColumnFamilySlice.Execute() (comments added)

[code]

[2012-05-21 22:52] nberardi commented on #29
Closing of connections don't get called in commands, because there are valid reasons to leave them open to the database for multiple instructions to be sent back and forth. Which is what Pooled Connections do.

Can you show me another command that is closing or releasing the connection?

If you want connections to be closed with each call to the server, you don't want to use a connection pool.  Co

[2012-05-22 01:28] kguner commented on #29
Thank you for responding.  I didn't express clearly that the problem is not that the connection is not being closed, but rather that it it is not being freed to be reused.  Close is merely the name of the method in PooledConnectionProvider.

Close() in PooledConnectionProvider does not actually close the connection, but rather moves it from _usedConnections to _freeConnections queue.

As I tried t

[2012-05-22 02:09] nberardi commented on #29
@kguner Either way you should dig in.  Open source software is a collaborative process, it not only relies on people like you contributing issues, but also digging in.  FluentCassandra is like most open source projects, managed by one person.

You seem to have an excellent grasp of the problem. So your guess would be as good as mine was to why Close() isn't being called.  You can set the break poi

[2012-05-22 02:22] nberardi commented on #28
This is a DateTime precision problem.  I haven't looked at the problem that you are stating but, this would happen for one of two reasons.
1. DateTime.UtcNow isn't updating fast enough resulting in the same DateTime
2. Because you are using Parallel one or more treads is executing at the same time resulting in the same DateTime

Having the same DateTime would cause the column to overwrite it self

[2012-05-22 23:40] kguner commented on #29
Thank you for the breakdown.  I will look into this when I get the chance.

[2012-05-23 20:09] Caldas commented on #28
I implemented DateTimePrecise and used:

<code>
new DateTimePrecise(5).UtcNow
</code>

It´s worked. I will submit a Pull Request

[2012-05-23 21:32] nberardi commented on #28
Thanks for the pull request.

[2012-05-23 21:32] #28 closed, assigned to nberardi

[2012-05-23 23:14] nberardi opened #31 "Multiple CQL Commands Per Request"
FluentCassandra.Operations.CassandraOperationException was caught
  Message=line 1:1095 mismatched input 'UPDATE' expecting EOF
  Source=FluentCassandra
  StackTrace:
       at FluentCassandra.CassandraSession.ExecuteOperation[TResult](Operation`1 action, Nullable`1 throwOnError)
       at FluentCassandra.CassandraContext.ExecuteOperation[TResult](Operation`1 action, Nullable`1 throwOnError)

[2012-05-24 00:28] nberardi commented on #31
This isn't an issue with FluentCassandra.  You need to wrap the statement in BATCH.  See the documentation here http://cassandra.apache.org/doc/cql/CQL.html#BATCH

This is how it would be programmed with FluentCassandra

[code]

[2012-05-24 00:28] #31 closed, assigned to nberardi

[2012-05-24 20:40] nberardi opened #32 "replication_factor not working in Cassandra 1.1.0"
[code]

Throw and error:

FluentCassandra.Operations.CassandraOperationException: SimpleStrategy requires a replication_factor strategy option. ---&gt; Apache.Cassandra.InvalidRequestException: Exception of type 'Apache.Cassandra.InvalidRequestException' was thrown.

I'm using the 1.1.0 release of Cassandra - presumably something changed and it's not happy with the replication factor value there?

[2012-05-24 20:41] nberardi commented on #32
I found the issue, there is a bug in Cassandra 1.1.0 where it ignores the replication_factor property on the KsDef object.  It needs to be set through the StrategyOptions.

[2012-05-24 20:43] #32 closed, assigned to nberardi

[2012-05-30 11:41] Lyova5 opened #33 "Wrong fields order in ConnectionBuilder.InitializeConnectionString"
In ConnectionBuilder.InitializeConnectionString, field ConnectionTimeout is filled in Servers creation part, before filling it in "Connection Timeout" region.

[2012-05-30 13:31] nberardi commented on #33
Thank you for the report.

[2012-05-30 13:31] #33 closed, assigned to nberardi

[2012-05-30 13:36] nberardi opened #34 "Allow building of connections without a string"

[2012-05-30 13:43] #34 closed, assigned to nberardi

[2012-06-06 12:20] nberardi opened #35 "Support CQL in ADO.NET"

[2012-06-06 12:21] nberardi opened #36 "Change Key Convention Column To Schema Alias"

[2012-06-06 12:22] nberardi opened #37 "Give ability to dual compile with .NET 4.0 and 4.5"

[2012-06-06 12:22] nberardi opened #38 "Look Into Supporting Async Connections Where Possible"

[2012-06-17 13:54] #36 closed, assigned to nberardi

[2012-06-18 13:11] nberardi opened #39 "Querying With Composite Keys Doesn't Work"
I have been playing with the FluentCassandra project and so far I find it really great to interact with Cassandra.

But this week end I stumbled on one massive issue, and I am pretty sure that it comes from my inability to use it properly.
So I thought that you might be able to help me with it.

Basically I have a ColumnFamily called "Data" which uses Composite Keys of type <AsciiType, AsciiType>

[2012-06-18 13:14] nberardi commented on #39
You found a type casting bug.  The current work around would be do add the following to your code.  So instead of having in your `GetData` method:

[code]

You would do this to force the right casting.

[code]

The current problem is the CompositeType was set to implicitly cast to "CassandraObject[]" and that is the type being used in the `Get(...)` signature, which is suppose to take in multiple

[2012-06-20 06:58] crow-ua opened #40 "Problems with CassandraContext disposal"
I have following method in my test application :

[code]

When user somehow enters incorrect connection data, KeyspaceExists throws CassandraException, method returns false, and then in few seconds ArgumentNullException is thrown in Connection.cs at line 80 in  public bool IsOpen :
       lock (_transport) // The value can not be null
That happens during context disposal i guess. Fixed error by pu

[2012-06-20 08:23] timoaho commented on #2
I have the same problem as the original poster.

The method public virtual bool FluentRecord.FluentCassandra.ColumnExists(string name) seems to have been removed from FluentRecord.cs in the following commit:
https://github.com/managedfusion/fluentcassandra/commit/1b28998917894da17fb0911ff69d313bc6b6004b#src/FluentRecord.cs

I could not find the functionality anywhere else. Do I miss something?

[2012-06-20 08:27] nberardi commented on #40
Thank you for reporting this. I will take a look at the issue.

[2012-06-20 08:46] nberardi commented on #2
The method had a number of problems. Because column names can be any of the types not just string. And it didn't work so well for dynamic types. So dynamic properties will just return null if it isn't present.

However I may have overlooked the POCO users of this object.  If you are interested I would be interested in taking in a pull request to support this for POCO uses.

Here you can sort of se

[2012-06-20 08:57] nberardi commented on #40
I have been trying to track this down forever. Because transport is only ever assigned to. However it just occurred to me that if you didn't assign the ConnectionType correctly to a defined enum transport would never be created.

https://github.com/managedfusion/fluentcassandra/blob/master/src/Connections/Connection.cs#L36

You say this only happens when the Keyspace is defined wrong?  Do you happ

[2012-06-20 09:52] #40 closed, assigned to nberardi

[2012-06-20 12:08] crow-ua commented on #40
I have an application that works with Cassandra cluster on few servers. There is a requirement to give client ability to change connection settings (ip, port) and default keyspace in which application will work. There is no information about which server is up at certain moment of time, also there is no information on keyspace (some users will work on existing ones, some will create new for their

[2012-06-20 12:44] nberardi commented on #40
Thanks for the info, I have been trying to track down this issue for a long time.  I think I have made real progress with these sets of checkins.  Please reopen this ticket if you see this issue again.  Also you may be interested in 'TryDropKeyspace' which is similar to what you do above.

https://github.com/managedfusion/fluentcassandra/blob/master/src/CassandraContext.cs#L144

[2012-06-21 06:41] crow-ua commented on #40
Thanks, everything works fine know.

[2012-06-25 17:33] nberardi commented on #39
I have been playing a bit more with fluentcassandra especially focusing on composite keys.
And I had another issue.

[code]

I now am testing a CF with a Composite Key of Type <AsciiType, AsciiType, TimeUUIDType>,
I use the code below to insert data, and it seems to work:

[code]

And to retrieve the data I use:

[code]

Of course in the 2 cases I use the same DateTimeOffset object, but the data r

[2012-06-25 17:36] nberardi commented on #39
Hi Pierre,

This is related to the fact that you are using TimeUUID.  The clock sequence of TimeUUID changes with each request, and since Cassandra doesn't do a valid TimeUUID comparison and just does a byte comparison on Composite types, the value of TimeUUID changes each time you create it which changes the Composite byte value.

To fix this since it seems like you only need a date and not a Tim

[2012-06-25 17:36] #39 closed, assigned to nberardi

[2012-06-28 08:00] yukisakura opened #41 "UnavailableException is thrown when getting row"
Hi nberardi,

Here is my situation:
- My app creates a new keyspace called "PhoneEnrichmentDb", insert keys & rows well.
- Drop that keyspace using cassandra-cli.
- Run the app to create keyspace again.
- It thrown exception when retrieving row (ex: FluentColumnFamily currentHouse = houseColumnFamily.Get("2172033018").First();
  But I can use cassandra-cli to retrieve that key:
  [default@PhoneEnr

[2012-07-09 19:09] nberardi commented on #41
Can I ask you to create a test that fails, so that I can better understand and trace the issue.  I have been creating bugs here: https://github.com/managedfusion/fluentcassandra/tree/master/test/FluentCassandra.Tests/Bugs

This is the easiest way for me to understand the issue that you are having, you can send me a pull request or the code in this ticket if you like. What you have given me is a li

[2012-07-10 10:20] yukisakura commented on #41
I have checked it myself some days ago, and found that it might be a bug in Cassandra. I use the latest version 1.1.2 with 2 nodes.
I created a new keyspace called PhoneEnrichmentDb with replication_factor = 2. Inserted some data.
When I use cli to drop keyspace, the data folder is not removed (may be the process is too slow). Then I decided to delete the folder manually. But when I re-create the

[2012-07-10 13:15] nberardi commented on #41
I didn't want to say anything before checking it out.  But this line here:

[code]

Means the exception is coming from the server.  So you may be right, this may be a bug in Cassandra.  Do you experience the same bug when using version 1.1.1 or 1.0.0?  Also have you tried using CQL?  The CQL query for the same would be:

[code]

Let me know what you find out.

[2012-07-11 06:22] yukisakura commented on #41
It seems that there are many bugs in Cassandra right now.
In my situation above, it's gone after I re-install Windows. Re-installing Cassandra won't help, it automatically build deleted keyspace again (but off course, with no data and many errors).
Now there is new bug in Cassandra, which I don't know how to debug. Could you please give me some advices how to debug Cassandra?
And how to report bug

[2012-07-11 12:20] nberardi commented on #41
This one that you are encountering is a very odd one.  Because to be honest, my tests would never work if I couldn't drop a keyspace and recreate it.  You may want to consider using and older version like 1.0 or 1.1.

Typically I stick with what ever version DataStax is using for it's latest build.  Because it always seems stable.

http://www.datastax.com/

Plus you can get an installer with a rat

[2012-07-12 04:25] yukisakura commented on #41
This is the 3rd time I dealt with this error. The first one is in version 1.1, then 1.1.1, and the last one is with 1.1.2 (latest version now). For each time, I have to re-install Windows (fresh install).

I will try to use DataStax OpsCenter and report to you.

BTW, is it possible to contact with you via email directly?

[2012-07-12 12:21] nberardi commented on #41
I would prefer you ask question on our group
https://groups.google.com/forum/?fromgroups#!forum/fluentcassandra or on
http://stackoverflow.com since it will be more useful to the community at
large.

On Thu, Jul 12, 2012 at 12:25 AM, yukisakura <
reply@reply.github.com

[2012-07-17 07:20] yukisakura commented on #41
The reason I ask for directly contact is that, when I deal with these kinds of error, I can open TeamViewer session so that you can help me.

[2012-07-19 03:11] yukisakura commented on #41
Hi again,
It seems there is a problem when creating column family using CLQ syntax. For example, I have 2 lines of code:
(line 1) myContext.ExecuteNonQuery(@"CREATE COLUMNFAMILY Houses(
    kvhx text PRIMARY KEY,
    address text,
    postalCode int,
    postalName text,
    regionKode int,
    kommuneKode int,
    vejKode int,
    sogneKode int,
    jsonMembers text);");

(line 2) myContext.Keysp

[2012-07-19 09:47] nberardi commented on #41
CQL can be odd sometimes. But what you are doing I am doing here in my
sandbox program so it does work.
https://github.com/managedfusion/fluentcassandra/blob/master/test/FluentCassandra.Sandbox/Program.cs

It would be more helpful if you showed how you were creating your
keyspace in your code. Maybe you can post this to the forum to see if
anybody else has an answer.

##

Nick Berardi
(484) 302-01

[2012-07-20 09:37] yukisakura commented on #41
I have changed my code to use FluentCassandra standard, example:

myContext.Keyspace.TryCreateColumnFamily(new CassandraColumnFamilySchema { FamilyName = "Houses", KeyValueType = CassandraType.UTF8Type, Columns = new List<CassandraColumnSchema> { new CassandraColumnSchema { IsKey = true, Name = "kvhx", NameType = CassandraType.UTF8Type, ValueType = CassandraType.UTF8Type }, new CassandraColumnSche

[2012-07-20 09:44] yukisakura commented on #41
Continue from above post...
Here is my code to insert 1 row to database:

[code]

[2012-07-20 11:51] nberardi commented on #41
Please move this conversation over to the forum.  In the past I haven't done such a great job in making a repository for new users.  So I am trying my best to have everybody move over to the forum.

https://groups.google.com/forum/?fromgroups#!forum/fluentcassandra

There is actually a very logical answer to all of this and most of it has to do with how Cassandra works, and how FluentCassandra has

[2012-07-20 11:51] #41 closed, assigned to nberardi

[2012-07-25 19:17] rsparkyc opened #42 "Issue running ExecuteNonQuery"
I'm trying to create some secondary indexes like they do in the example here: http://www.datastax.com/docs/1.0/ddl/indexes

The only way I've found to be able to attempt to do is this by running this:

[code]

However, I'm getting the following error:
**no viable alternative at character ']'**

What am I doing wrong?

[2012-07-25 19:45] #42 closed, assigned to nberardi

[2012-07-25 19:45] rsparkyc commented on #42
turns out I had to use the CQL when using db.ExecuteNonQuery... Go figure :)

[2012-08-08 19:45] Smoles opened #44 "Expose Time Helper Methods"
I was wondering if the following methods could be made public. There are a few use cases where it would be helpful to be able to switch back and for between a timestamp in my own code. An example is when you want to set an explicit timestamp on a column when using a CQL query.

FluentCassandra.Operations.Helper.ToTimestamp()
FluentCassandra.Operations.Helper.FromTimestamp()

I think it would also

[2012-08-08 19:49] Smoles opened #45 "FormatCql Helper Method"
I've created a helper format string method that will make sure the arguments being passed into a CQL statement are appropriately escaped. I'm not sure where the best place to put this method would be but I think it would be handy to be part of this project. Mabye some sort of public Helper methods class.

[code]

[2012-08-20 19:03] igorberger opened #48 "Divide by zero in DateTimePrecise"
I'm seeing a divide by zero exception in FluentCassandra 1.1.3 with the following call stack:

System.DivideByZeroException: Attempted to divide by zero.
   at System.DateTimePrecise.GetUtcNow() in C:\FluentCassandra\V1.1.3\src\System\DateTimePrecise.cs:line 82
   at FluentCassandra.FluentColumn..ctor(CassandraColumnSchema schema) in C:\FluentCassandra\V1.1.3\src\FluentColumn.cs:line 33
   at Flue

[2012-08-21 14:25] edweip3 opened #49 "incorrect mutation being set on super column"
In the FluentSuperColumn class, the function UpdateParent is calling ResetMutationAndAddAllColumns().  This causes mutations to be added to the tracker for all columns in an existing super column. ResetMutation() should probably be called instead.

steps to reproduce:
1. Create a super column family.
2. insert a row with a super column.
3. update the row to add more super columns using code simila

[2012-08-21 23:35] nberardi commented on #44
I agree, I will move the functions that you requested out to the root of FluentCassandra in a static class called TimestampHelper

[2012-08-21 23:35] #44 closed, assigned to nberardi

[2012-08-21 23:51] nberardi commented on #48
It seems to be a rare condition where the frequency is set exactly to zero by the 2nd condition that you identified.  To be honest, I didn't write this code and it was sort of hard to follow what was going on.  But I added a Math.Max(1, *) in the immutable object to make sure it is never zero.

[2012-08-21 23:53] nberardi commented on #49
Is there any way you can add a reproduceable test in the Bugs folder.

https://github.com/managedfusion/fluentcassandra/tree/master/test/FluentCassandra.Tests/Bugs

I tried to get this to happen, but I don't think I am setting it up correctly.  Please feel free to send me a pull request with the test case.

[2012-08-21 23:55] nberardi commented on #45
Please send a pull request.  Typically I add these as static methods in the root, such as I have done for TimestampHelper.  This one would probably be called CqlHelper.

[2012-08-22 14:00] edweip3 commented on #49
Here's a snippet of code that reproduces the problem.  Sorry, I don't have any spare time right now to do it properly in the Bugs folder.

//create super column family
string ColumnFamilyName = "testfamily";
string key = "somekey";
keyspace.TryCreateColumnFamily(new CassandraColumnFamilySchema
                {
                    FamilyName = ColumnFamilyName,
                    FamilyType = Col

[2012-08-22 15:18] nberardi commented on #49
Nobody has a lot of spare time. If you find value in open source software,
time is how you pay for it.

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Aug 22, 2012, at 10:00 AM, edweip3 notifications@github.com wrote:

Here's a snippet of code that reproduces the problem. Sorry, I don't have
any spare time right now to do it properly in the Bugs folder.

//create super column fa

[2012-08-23 14:04] edweip3 opened #51 "Black Listing To Aggressive"
In the RoundRobinServerManager, if a connection cannot be made to a server, it is added to the blacklist.  Once it's in the blacklist, it is there for the life time of RoundRobinServerManager, which is a problem if a connection pool is used, and the CassandraContext is held open for a long time.

[2012-08-23 23:11] igorberger commented on #48
Thanks for the fix. When do you think you'll tag it with a new verison?

[2012-08-24 01:22] nberardi commented on #48
I have a couple more pull requests to merge in then I will put out a point
release.

On Thu, Aug 23, 2012 at 7:11 PM, igorberger notifications@github.comwrote:

[2012-08-24 14:14] ghost opened #52 "This is really confusing me..."
I have this problem with using Fluent Cassandra in a test application. All I want to do was set the IsOnline field to true inside the SignIn method, but I keep getting the exception "supercolumn parameter is not optional for super CF". I tried everything, but I can't seem to get it to work. All the data is created and inserted into my Cassandra Keyspace, but to change it again to IsOnline after in

[2012-08-26 02:52] nberardi commented on #52
There was a problem in the mutation tracker, it has not been fixed.  It will be released with the next push to NuGet.

[2012-08-26 02:52] #52 closed, assigned to nberardi

[2012-08-26 02:53] nberardi commented on #49
This was fixed with issue #52

[2012-08-26 02:53] #49 closed, assigned to nberardi

[2012-08-26 02:56] nberardi commented on #51
Please mock up a change and submit a pull request this is probably a valuable addition to have.

[2012-08-27 04:16] gillotte opened #53 "In a get column slicing, schema omitted in some instances with Helper.ConvertColumnToFluentColumn"
I discovered what I believe is a bug while working with the cf.GetSingle method. Thankfully it seems to be a trivial fix which I propose below

This seems to cause the unnecessary byte reversing of text fields, and other issues I'm sure. The schema is in context of the operating method but simply isn't passed to the helper class

[code]

I believe should be

[code]

[2012-08-27 12:58] nberardi commented on #53
You are right thanks for tracking this issue down for me.  I have updated the source code, I will roll this into the next nuget release.

[2012-08-27 12:58] #53 closed, assigned to nberardi

[2012-08-28 19:54] igorberger opened #54 "Server timeout is lost with default port"
If "Server" part of connection string doesn't contain a port, Server.Timeout will always be set to 0 in ConnectionBuilder(connectionString). This creates a problem if multiple servers are specified, since the timeout must be non-zero in that case.

[2012-08-28 21:18] lhowlader commented on #51
I am currently working on implementing the Circuit Breaker pattern along with unit tests. Once it is implemented and tested, we will not need to blacklist a server. I believe the Circuit Breaker pattern is relevant to this issue. Please feel free to comment if you have considered the pattern and have any insight on why it should not be used. Current plan is to be able to configure the number of at

[2012-08-29 12:02] nberardi commented on #54
I am unable to verify this. Do you gave a test case.

[2012-08-29 12:04] nberardi commented on #51
I think this will be a great addition. I never really liked the blacklist, so I am happy to hear somebody is trying to get rid of it.

[2012-08-29 13:16] nberardi commented on #45
This has been added thanks to @lhowlader

[2012-08-29 13:16] #45 closed, assigned to nberardi

[2012-08-29 18:28] igorberger commented on #54
This issue affects single server config as well. E.g., after this code:

[code]

t1 is 5, but t2 is 0.

[2012-08-29 20:54] nberardi commented on #54
put Connection Timeout before defining the Servers.  The connection string is currently parsed in order.

[2012-08-29 21:02] igorberger commented on #54
Unfortunately that doesn't help. The problem is in this code:

[code]

When serverParts.Length != 2 (e.g., no port specified), the final _else_ creates a Server object without passing the timeout.

[2012-08-29 22:48] nberardi commented on #54
Ok, if you want I do accept pull requests.

[2012-09-03 10:46] ghost opened #56 "Linq .Count() support"
It seems that Linq.Count is not supported in FluentCassandra

var cnt = (from u in _db.GetColumnFamily("test") select u).Count();

throws:
CassandraColumnFamily+QueryProvider.cs (137) TElement' must inherit from IFluentBaseColumnFamily

[2012-09-03 11:20] ghost opened #58 "Linq2CQL3 and pagination support"
In CQL3 token() construction is now supported  (see http://www.datastax.com/dev/blog/cql3-evolutions).

E.g.: select \* from example_table where token(id) > token(2);

This construction is provided mostly for pagination. In current version of FluentCassandra it is not supported. I can imagaine that it works like this (if partitionKey is an integer):
(from u in _db.GetColumnFamily("example_table")

[2012-09-03 13:43] nberardi commented on #58
Currently you set the CQL version in the connection builder to differentiate the type of CQL you want to call.

[code]

The problem with LINQ is that it is agnostic and there really isn't a good way of  differentiating between the two different versions in LINQ.  Because in something less than CQL3 you would want that token parameter to have an error thrown, while in CQL 3 you would want it to be

[2012-09-03 13:45] nberardi commented on #58
Sorry closed by accident.

[2012-09-03 13:52] nberardi commented on #56
I have been trying to find an elegant way to support this, because this is actually a scalar return value. It is something that I would like to include support for, but it really doesn't fit into the type that is currently returned by IFluentBaseColumn, so we may have to change a few things.

[2012-09-03 13:58] nberardi commented on #58
I was looking at your example, and what if the syntax looked like this.

[code]

That way you wouldn't have to implement every token equality sign.  You would just need to implement the part that warps the property in `token(idx)`.  Do you think that would work better, I haven't had too much time to look at the new spec.

[2012-09-04 08:46] ghost commented on #58
I belive that the intention of token(x) is to force the user to understand that Cassandra partitionKey is "token-ordered" - that have nothing in common with e.g. natural numbers ordering or string ordering. Therefore I belive that the situation would be better if  we can use:
var x = from u in _db.GetColumnFamily("example_table")
           where CqlHelper.Token(u["idx"]) > CqlHelper.Token(10001)

[2012-09-04 11:50] nberardi commented on #58
I see both sides of the comparison need to have token on them. In that case
your original idea might be better.

I am not as familiar with this as you, is there ever a case where token
will only be on one side?

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Sep 4, 2012, at 4:46 AM, Pawel Kaplanski notifications@github.com
wrote:

I belive that the intention of token(x) is to fo

[2012-09-04 13:11] nberardi opened #59 "Add support for CQL Binary Protocol"
The protocol can be found here: https://issues.apache.org/jira/browse/CASSANDRA-2478
Some more information on CQL protocol.  http://www.datastax.com/dev/blog/binary-protocol

This is probably going to be combined with issue #35.

[2012-09-04 13:12] nberardi commented on #35
ADO.NET support for the RPC interface will probably prove to be too time consuming.  So this will focus only on the new binary CQL.

[2012-09-04 13:15] nberardi commented on #38
This is probably a good idea to build into #35 with the use of Threading Task's, so that it is supported in .NET 4.0 and 4.5.  However we might have to consider issue #37 a parent to this one if that is the case.

[2012-09-04 13:16] nberardi commented on #7
This is being closed because of the deprecation of the RPC interface in Cassandra

[2012-09-04 13:16] #7 closed, assigned to nberardi

[2012-09-04 14:27] edweip3 commented on #29
I ran into the exact same problem. the problem is that in CassandraSession class, the GetClient() function is creating the _connection, but returning _connection.Client.  and hence a connection is leaked.  Instead, the _connection should be created in ExecuteOperation<TResult>.  I've tested that this fixes the problem.

[2012-09-04 14:50] nberardi commented on #29
@edweip3 there are cases where GetClient is used and it doesn't go through ExecuteOperation. The connection should stick around as long as the session regardless if only one ExecuteOperation is called or 30 ExecuteOperation's are called.

Also as long as the CassandraSession is disposed of, the connection is Closed against the provider, and that should return it back to the pool.  I am not quite s

[2012-09-05 13:51] edweip3 commented on #29
@nberardi I think I figured out what is wrong with the code. the problem is in CassandraContext ExecuteOperation function.  in the sample code given above by @kguner, CassandraContext is constructed from the ConnectionBuilder, not CassandraSession.  so in the CassandraContext.ExecuteOperation function, we create a local session, and then disposes it at the end of the function call.  so by the end

[2012-09-05 14:17] nberardi commented on #29
That makes total sense, I knew those iterators would bite me in the butt eventually.  I guess the easy way is to just get rid of the iterators.  Luckily they are only used in a few places.

[2012-09-05 19:48] igorberger commented on #48
I'm using 1.1.4 now and I noticed the following in the logs, which looks like an aftershock of this change:

System.ArgumentOutOfRangeException: The added or subtracted value results in an un-representable DateTime.
Parameter name: value
   at System.DateTime.AddTicks(Int64 value)
   at System.DateTimePrecise.GetUtcNow() in C:\FluentCassandra\V1.1.4\src\System\DateTimePrecise.cs:line 81
   at Flue

[2012-09-05 20:38] nberardi commented on #48
I think ultimately, I am going to have to remove this DateTimePrecise.  It gives a much more accurate resolution on the timestamp, but it is troublesome.

[2012-09-06 13:46] igorberger commented on #48
Thanks for keeping this issue open.

Is there something we can do in the meantime to avoid this problem, since it's actually affecting us?

[2012-09-06 13:47] nberardi commented on #48
Let me put out an emergency patch for you via NuGet it will be 1.1.6.

[2012-09-06 13:54] nberardi commented on #48
DateTimePrecise has been removed, I will be looking for ways to increase the resolution of the Standard DateTimeOffset object, but for right now we are just going to have to deal with it's resolution.

[2012-09-06 13:54] #48 closed, assigned to nberardi

[2012-09-06 17:58] igorberger commented on #48
Thank you for a very quick fix.

[2012-09-06 20:09] edweip3 commented on #48
Thanks! I was just about to comment on this issue..  the real problem with this class is that as time goes on, you get arithmetic overflow when doing the calculation, causing the division by zero problem.  setting it to be 1 when it does become zero causes timestamp problem experience by @igorberger.  Glad this is removed for now.

[2012-09-09 06:00] gillotte opened #63 "unable to set cql version at the context level"
I'm trying to create a table with a composite type key using the syntax similar to

CREATE TABLE seen_ships (
       day text,
       time_seen timestamp,
       shipname text,
       PRIMARY KEY (day, time_seen)
   );

as explained on http://www.datastax.com/dev/blog/whats-new-in-cql-3-0

getting this snippet to work requires being able to set the CQL version to 3.0.0

[code]

I saw some code tha

[2012-09-09 13:17] nberardi commented on #63
What do you mean you saw it partially plumed, it is fully plumed as far as I know.  I use it after all.  :)

To get it working you do the following:

[code]

Specifying connection information in the context is limited to only connecting to the server.  The design is that if you need to do more than just connect to the Cassandra server you need to create a ConnectionBuilder instance and configure i

[2012-09-09 13:17] #63 closed, assigned to nberardi

[2012-09-09 19:46] gillotte commented on #63
ConnectionBuilder(keyspace: KeyspaceName, server: Server, cqlVersion: CqlVersion.Cql3);

was the piece I was missing, I was trying to set it on the context constructor! thanks

[2012-09-12 03:32] #54 closed, assigned to nberardi

[2012-09-12 05:16] dlbromen commented on #37
Do you have any specific thoughts on what you're looking for or how you want it done?  Just another VS2012 solution file or are you looking for something like separate NuGet packages to be produced out of a single build?

[2012-09-12 12:58] nberardi commented on #37
Here are the general rules for how I would like the programming to be done.
- FluentCassandra.csproj is always on the latest and greatest framework
- When you add features specific to the new framework you wrap it in NET_XX precompiler (ex. .NET 4.5 is NET_45)
- FluentCassandra should always at least support the current framework and the previous framework

Here is how I think the dual compile sho

[2012-09-20 22:16] GrLawrence opened #66 "GuidGenerator.GenerateTimeBasedGuid() can create duplicate Time-based UUIDs"
In a tight loop GuidGenerator.GenerateTimeBasedGuid() will generate duplicate guids.  When using these guids for column names, values could potentially be overwritten.

I'm working on a fix based on code from a java project (http://johannburkard.de/software/uuid/) which is used in Hector (a Java client for Cassandra).  Basically, it keeps track of the ticks used for the previously generated guid,

[2012-09-20 23:24] nberardi commented on #66
That was the reader we used DateTimePrecise. But it was problematic and
needed to be redesigned.
https://github.com/managedfusion/fluentcassandra/blob/f6014b090807e520b56cc77a66b990b184894786/src/System/DateTimePrecise.cs

It was removed for the stability of the code. So I am happy to see somebody working on a better solution.

See issue #48 for more info.

[2012-09-21 00:12] nberardi commented on #66
Tell me what you think of this new revamped `DateTimePrecise`.  After looking at and studying the old one, I think the flaw in the design was leaving the Stopwatch running forever.  It eventually by passed the overflow point and caused the process the crash.  This new one will reset the stopwatch every 10 seconds.  My inspiration came from the following post which shows the resolution you get by j

[2012-09-21 02:02] dlbromen commented on #66
It is much cleaner and easier to understand, that is for sure.  However, I don't think it is going to work because even though you are adding a high-precision number of seconds to _baseTime, it appears it is rounded to the nearest millisecond.  I think sub-millisecond precision is needed. See this MSDN page: http://msdn.microsoft.com/en-us/library/system.datetimeoffset.addseconds(v=vs.100).aspx

I

[2012-09-21 02:06] nberardi commented on #66
That is easy to overcome by turning the seconds into datetime ticks (which i think are nanosecond based) and
then adding those.

I have verified the article that I referenced. That you do get a much more
precise second output. So that is great news.

[2012-09-21 03:22] nberardi commented on #66
Found it. Multiply the seconds by 10,000,000 and that will give you ticks. Then we should be able to just ass ticks to the base time.

[2012-09-21 04:48] dlbromen commented on #66
A couple comments.

First, I think we can just use the `stopwatch.Elapsed` property to save some math.

[code]

Second, @GrLawrence wrote a test function on one of his branches to test out his proposal in issue #66, and I am still getting Guid collisions using this method.  I'll work on it a little more to see if it is really just happening so fast that the operations are on the same Tick (seems h

[2012-09-21 05:02] nberardi commented on #66
Actually we can't use Elapsed, take a look at this article.

http://geekswithblogs.net/BlackRabbitCoder/archive/2012/01/12/c.net-little-pitfalls-stopwatch-ticks-are-not-timespan-ticks.aspx

Alot of precision is lost when converted to TimeSpan.  Specifically look under the title "Sidebar: What’s the Frequency?"

[2012-09-21 05:13] nberardi commented on #66
After we get the precision part of the equation down for DateTime. Which is not only important for TimeUUID, but also the column timestamp.  We should look at actually making the clockSequence of TimeUUID unique per instance created.

https://github.com/managedfusion/fluentcassandra/blob/master/src/GuidGenerator.cs#L112

I think this is where some of the uniqueness problems come from, because I ne

[2012-09-21 05:27] dlbromen commented on #66
Re: Elapsed.  Yes, when you look at those two raw numbers it looks like you lost a lot of precision.  In reality, when you are multiplying the "precise" seconds to normalize it to 100-ns Ticks (`Convert.ToInt64(elapsedSeconds * TicksInOneSecond`), you are getting the same answer.  I guess it doesn't really matter to me all that much, just so the info we're putting out there is accurate.

Pop open

[2012-09-21 05:38] nberardi commented on #66
I see what you are saying, but I am getting small rounding variations every once and a while.  It seems like TimeSpan truncates the numbers.

[code]

who knows does that rounding make a difference?  it might just be simpler to just Add the TimeSpan to make the code more readable.

[2012-09-21 05:42] nberardi commented on #66
OK I think we put the DateTime issue to bed.  Now just need to get a real varying clockSequence in TimeUUID and I think we will be golden.

[2012-09-21 05:47] nberardi commented on #66
Have either of you guys seen this?  http://stackoverflow.com/questions/1008345/system-diagnostics-stopwatch-returns-negative-numbers-in-elapsed-properties

Apparently on Virtual Machines Stopwatch can report negative numbers.  So we may want to consider boxing the elapsed TimeSpan to make sure it is a positive number.

[2012-09-21 05:57] dlbromen commented on #66
Running on bare metal right now, but I can try it on a Windows Server 2008R2 VM.

Re: clockSequence - I was trying to make sense of the RFC, and it sounded like the clockSequence is only to be incremented when the clock attempts to go backwards - not on each UUID.  Maybe I just don't understand it.. I'll give it another look tomorrow.

[2012-09-21 12:41] nberardi commented on #66
RE: Stopwatch - so the more I read about the issues with the Stopwatch and it switching CPU's, getting different timings, it producing negative values, unusually large values.  I think we need to build in a little more error checking.  And at the very least default back to DateTimeOffset.UtcNow when we feel uncomfortable with the value it is returning.

RE: clockSequence - From what I see from oth

[2012-09-21 13:10] nberardi commented on #66
I am hoping both of these changes that I made this morning will work.  Let me know if you see any glaring or corner cases that I might have missed.

[2012-09-21 15:01] dlbromen commented on #66
So, if the purpose of the clock sequence is to prevent collisions when the same DateTimeOffset timestamp is being used (either by speed or system clock going backwards), isn't it going to continue to collide with this implementation since the sequence is also based on time?

[2012-09-21 15:04] nberardi commented on #66
Shouldn't occur.  Because GetTimestamp() changes a lot faster than DateTime and between two side by side calls will produce different numbers unlike DateTime.Now.  GetTimestamp() is what the Stopwatch uses under the covers to produce the timing.  So I feel pretty safe.  Also by the way GetTimestamp() is the CPU's clock, which is why you get much more precise values from Stopwatch.

[code]

So I fe

[2012-09-25 00:34] nberardi commented on #66
What do you guys think? Can we put this one to bed?

[2012-09-25 00:37] nberardi opened #67 "Add Support For Column Lazy Loading"
Add support for lazy loading columns in the column families.

[2012-09-25 00:49] dlbromen commented on #66
@GrLawrence has been working on it more.  I think we have something pretty solid.  Look for an update from him within the next 24 hours and then we can see what you think.

[2012-09-25 01:57] nberardi commented on #66
Don't spend too much time on trying to perfect the clock sequence, it is throw away data.  And not even Cassandra changes the clock sequence as the RFC says.

https://svn.apache.org/repos/asf/cassandra/trunk/src/java/org/apache/cassandra/utils/UUIDGen.java

In Cassandra the clock sequence is read only.

[2012-09-25 13:08] GrLawrence commented on #66
I’ve checked in a change on my fork to address the generation of TimeUUIDs.  This implementation locks around the generation of the UUID to help in multi-threaded scenarios.  Also, this goes back to using random bytes for the clock sequence, but only generates a new sequence if it appears that the clock has gone backward, or stalled.  So this honors trying to keep the time portion close to the sys

[2012-09-25 15:29] nberardi commented on #66
Finally think we have a good option for this.

[2012-09-25 15:29] #66 closed, assigned to nberardi

[2012-10-06 20:02] sdether opened #69 "CassandraKeyspace.ColumFamilyExists does not work"
Given the below code, CassandraKeyspace.ColumFamilyExists will return false even if ColumnFamily user exists.

[code]

Related, it does seem weird that there are various Try\* methods that all throw. Usual convention is that the Try\* pattern exists to avoid having to catch an exception on failure.

I also tried `var userFamily = db.GetColumnFamily("user");` and checking if userFamily is null, but

[2012-10-06 20:21] nberardi commented on #69
It works as expected.  You provided a schema to it, instead of letting it pull it from the database.  So in the schema that you provided you didn't define a ColumnFamily called "user".  So this isn't a bug, just a programming error.  If you would like it to work do the following.

[code]

In your CassandraContext you must have ThrowErrors set to true.  This probably is going to be changing soon, s

[2012-10-06 22:17] nberardi commented on #69
Opened so you could comment. I closed by accident.

[2012-10-06 23:02] sdether opened #70 "Socket failures under sustained load"
Was doing some simple load testing and quickly ran into socket failures of the type `: An operation on a socket could not be performed because the system lacked sufficient buffer space or because a queue was full 127.0.0.1:9160` which is wrapped by `No connection could be made because all servers have failed.`

[code]

I know this example is degenerate in that it calls save for each new record, bu

[2012-10-06 23:06] sdether commented on #69
Thx. Was working off the examples and did not understand the significance of how keyspace was constructed in the example.

[2012-10-06 23:09] nberardi commented on #70
Sounds like an issue with Thrift or System.Net

I don't see how I can fix this on the Fluent Cassandra side of things.

[2012-10-06 23:10] nberardi commented on #69
No problem.

[2012-10-06 23:10] #69 closed, assigned to nberardi

[2012-10-06 23:11] sdether commented on #69
BTW, still curious why Try\* methods throw rather than return a bool as is usual.

[2012-10-06 23:12] nberardi commented on #69
Read paragraph under code in my original response.

[2012-10-06 23:13] sdether commented on #70
Oh, I didn't see a reference to Thrift, so I assumed that the Thrift code in your project was your own implementation

[2012-10-06 23:18] nberardi commented on #70
I decided to uncle the Thrift code in FluentCassandra instead of adding a reference. The code was takes from this project which is also what Cassandra uses on the other side of the connection.

http://thrift.apache.org/

I am not totally convinced it is Thrift though. It sounds like you reached the connection limit for Windows by the sound of the error message.

[2012-10-07 00:03] sdether commented on #70
Looks like it was my lack of understanding the ConnectionBuilder. By default it doesn't do pooling and CassandraContext creates a new session for every execution, so that it creates a new socket for every execute and sure, that'll deplete Sockets quickly. Once pooling is turned on the single-threaded example works fine, but my multi-threaded one (using 20 workers and a 50ms sleep between ops) now

[2012-10-07 00:12] nberardi commented on #70
Connection pools aren't unlimited. The max amount must at least be the number of threads you spin up. Realistically though the connection pool max should be about 2.5 times the number of threads you have running.

[2012-10-07 00:18] nberardi commented on #70
You may be right. I was thinking about shaving down the frame where it
meets the floor to make it more square.

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Oct 6, 2012, at 8:03 PM, Arne Claassen notifications@github.com wrote:

Looks like it was my lack of understanding the ConnectionBuilder. By
default it doesn't do pooling and CassandraContext creates a new session
for ever

[2012-10-07 00:25] nberardi commented on #70
I think there is already an open issue around how the connection pool releases the connections back to the pool.

[2012-10-07 04:39] sdether commented on #69
Sorry about that. Must have just seen the code and skipped reading the rest :) Thanks for the info.

[2012-10-07 04:48] sdether commented on #70
Found it: https://github.com/managedfusion/fluentcassandra/issues/29

I'll follow up in that thread.

[2012-10-07 04:48] #70 closed, assigned to nberardi

[2012-10-07 04:54] sdether commented on #29
It seems the reason the pool handling gets tricky is because `CassandraContext` creates a `CassandraSession` per `ExecuteOperation` if constructed with a `ConnectionBuilder`. If instead I use the `ConnectionBuilder` to create a `CassandraSession` and provide that to the context, only one session is used for the context, which seems reasonable.

Of course, now there seems to be a memory leak and i

[2012-10-07 05:56] sdether commented on #29
Sorry to keep beating on this, but using a `CassandraSession` per context does not solve the problem after all, it just delays it.

In order to flush the mutators, i was running 100 threads that would create new context after every 1000 records. This had a sustained throughput over about 1700 records/second (supercolumn appends), i.e. ~1-2 context dispose/creates per second and i hit pool exhausti

[2012-10-08 16:01] ilushka85 opened #71 "counter columns"
how do we increment / decrement counter columns?

[2012-10-08 17:39] nberardi commented on #71
That hasn't been implemented. If you are interested in sending me a pull
request I will not object.

##

Nick Berardi
(484) 302-0125
Sent from my tablet.

On Oct 8, 2012, at 12:01 PM, ilushka85 notifications@github.com wrote:

how do we increment / decrement counter columns?

—
Reply to this email directly or view it on
GitHubhttps://github.com/managedfusion/fluentcassandra/issues/71.

[2012-10-08 17:49] ilushka85 commented on #71
Is it merely the thrift add command on counter columns ?

Sent from my iPhone

On Oct 8, 2012, at 12:39 PM, Nick Berardi notifications@github.com wrote:

That hasn't been implemented. If you are interested in sending me a pull
request I will not object.

##

Nick Berardi
(484) 302-0125
Sent from my tablet.

On Oct 8, 2012, at 12:01 PM, ilushka85 notifications@github.com wrote:

how do we increment

[2012-10-08 18:56] nberardi commented on #71
Yes it is.  Which I have implemented in FluentCassandra as a straight RPC
command.  However there is not support in the fluent-part of the library.
 You can use it by doing the following:

https://github.com/managedfusion/fluentcassandra/blob/master/src/CassandraColumnFamilyOperations.cs#L59

columnFamily.InsertCounterColumn(key, columnName, longValue);

However, I don't know if I like the name.

[2012-10-08 19:24] nberardi commented on #29
The pool obviously needs to be redesigned.  Just haven't had too much time to figure out a good solution.

[2012-10-08 22:59] sdether commented on #29
If you don't have objections to using a session per context, i'd gladly clean-up my changes and send you a pull.

[2012-10-09 00:31] ilushka85 opened #72 ".TakeKeys not returning proper record count"
Specifying .TakeKeys() while using start key does not return proper amount of keys

[code]

userstest1 returns 150 keys as indicated
userstest2 returns 100 keys

the problem in code is the following file:  `CassandraSlicePredicateBuilder.cs`

Line 151 says

[code]

in realtiy the indexclause should be given the count of how many keys we want so the correct line should be

[code]

Can someone creat

[2012-10-09 00:49] nberardi commented on #72
Any chance you can send a pull request with the updated code.

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Oct 8, 2012, at 8:31 PM, ilushka85 notifications@github.com wrote:

var usersTest1 =
usersColumnFamily.Get().StartWithKey("").TakeUntilKey("").TakeKeys(150)..Execute();

var usersTest2 =
usersColumnFamily.Get().StartWithKey("").TakeUntilKey("").TakeKeys(150).Where(t
=> t

[2012-10-09 20:06] ilushka85 commented on #29
Can you send your pull request because we'd gladly use it.

[2012-10-09 21:50] nberardi commented on #29
We already support a session per context. You just create a session and pass it into the context.

[2012-10-09 22:01] sdether commented on #29
Correct, but then you are responsible for creating the session and passing it to the context and disposing of it afterwards.

My local change abolishes the concept of a local session per execution and instead creates a session from the provided ConnectionBuilder at context creation, disposing it at context disposal (unless it was manually provided, which leaves the disposal responsibility with the

[2012-10-09 22:10] nberardi commented on #29
I looked at your source. The problem with what you have done is that it leaves the connection open for possibly a very long time if somebody say puts it in a static. Or more realistically a global variable, like in a desktop app.

What I am doing here is no different than how other frameworks like EF function. I think the problem is with the Connection Pool. I am not really interested in modifying

[2012-10-09 22:17] sdether commented on #29
I guess I view the CassandraContext more analogous to getting a Database connection from a pool, where once you have a connection you keep it until you release it. Considering that cassandra is generally lots of small, short calls, creating a session for each call seems like an undue burden, both performance wise and GC pressure wise.

[2012-10-09 22:26] nberardi commented on #29
The CassandraSession is more analogous to getting a Database connection from a pool, at least that was the way it was designed.  Because that is where the connection is stored.  Secondly CassandraContext was designed as a secondary add-on to CassandraSession, which provides all the niceties which make FluentCassandra easy to use.  If I had to equate this to the SQL Server interface I would say.

C

[2012-10-09 22:46] sdether commented on #29
Ok, but even DbContext doesn't create a new SqlConnection per DB action. It either gets a connection or creates a LazyInternalContext with a LazyInternalConnection, i.e. once a connection is initialized for a DbContext, it stays with that one connection. I can certainly change my code to not initialize the session at context creation time, but on first execute if you prefer.

Just seems that creat

[2012-10-10 03:40] sdether commented on #29
Ok, pull submitted: https://github.com/managedfusion/fluentcassandra/pull/73

Once i went for lazy initializing, the ctor changes went away and only difference is removal of local session from Execute

[2012-10-10 04:22] nberardi commented on #29
You should check out EnsureConnection. Because there are 4 cases where the connection is opened and closed.

http://entityframework.codeplex.com/SourceControl/changeset/view/0eed9c4e9ebe#src%2fEntityFramework%2fCore%2fObjects%2fObjectContext.cs

Before heading down this route that changes fuctionality for the many users that have been using this library for 2+ year. We should try to determine why

[2012-10-10 13:34] dlbromen opened #74 "RoundRobinServerManager.HasNext is inaccurate"
Commit https://github.com/managedfusion/fluentcassandra/commit/6b8cfa97272657a78d3564e38299329b23603cd5 introduced another bug.

For example, say there are 10 servers.  If, for whatever reason 5 or more of them go down and are blacklisted (and ultimately removed from _serverQueue by Next() method), then _serverQueue.Count [5] - blacklist.Count [5] is NOT > 0, so HasNext returns false.  In reality

[2012-10-10 14:12] nberardi commented on #74
I would be open to a new implementation. The current black listing does not
account for servers that only had temporary problems. I like your thoughts
on #2.

[2012-10-10 16:47] sdether commented on #29
Ok, I take it all back. I was not aware that DBContext could transparently re-connect and even re-acquire a transaction, so i've been projecting my assumptions on CassandraContext. It's not a philosophy I agree with but that's just something I will have to come to terms with.

So what precipitated this proposed change was issues I ran into. My initial goal with my Cassandra R&D was ensuring that i

[2012-10-11 14:33] edweip3 opened #75 "CQL3 can return LongType and Int32Type columns as null"
in CQL3, when you select a row, if the row has bigint or int columns, and the row does not contain values for those columns, FluentCassandra will get an exception trying to convert null to long or int. Here are some CQL3 statements to reproduce.

create a column family using CQL3:
CREATE TABLE test (
                    userid ascii,
                    stringfield text,
                    intfie

[2012-10-11 14:35] nberardi commented on #75
Can you work up a pull request and submit it?

[2012-10-11 18:46] #75 closed, assigned to nberardi

[2012-10-11 18:46] #74 closed, assigned to nberardi

[2012-10-12 21:31] dlbromen commented on #51
Update:
@Smoles and myself have taken over this functionality from lhowlander.  There will probably be a lot of discussion about what we've done so please let me know if you'd like to move it to another issue or a different communication channel.

Some of the design principles:
1. Do not blacklist a server forever.
2. Blacklist on a configurable number of failures (not just one).
3. Automatically

[2012-10-12 21:35] dlbromen commented on #51
Sorry, accidently hit submit...
1. Don't open the floodgates when retrying a server.  Just try a single connection
2. When re-enabling a server, make it available for use (especially true when using Pooling=True)
3. Don't consider everything a failure.  Set of specific I/O related exceptions.

.. and there are probably more.

We've got something staged up, here: https://github.com/W3i/fluentcassan

[2012-10-18 15:04] igorberger opened #80 "Connection pool not getting cleaned up on first socket error"
When my process loses connection to a Cassandra node,
it takes 2 failed requests to clean up connection pool.

Since FluentCassandra already detects lost connectivity, closing the socket
will allow to clean up connection pool after the first failed request.

A simple fix is to add "this.Close();" inside of "if (ret <= 0)" in TTransport.ReadAll().

Running version 1.1.8. Sorry, I can't create a pul

[2012-10-18 16:58] nberardi commented on #80
Why can't you create a pull request?  I would like to review your change, and let everybody else here review it too.  I think it is a good one.

[2012-10-18 18:35] igorberger commented on #80
The amount of effort needed to go through the corporate process of contributing to open source (without getting reprimanded and without having to worry about license issues) is disproportionate to just making this change locally and making sure it's not lost in the future.

I'm just trying to contribute _something_ back.

[2012-10-22 14:49] ilushka85 opened #81 "describe_keyspace failed: unknown result ---> Thrift.TapplicationException:"
We periodically get this error.  What could be the cause of it?   Why do we need to even run a describe keyspace before execution?

FluentCassandra.CassandraException: describe_keyspace failed: unknown result ---> Thrift.TApplicationException: describe_keyspace failed: unknown result
   at Apache.Cassandra.Cassandra.Client.recv_describe_keyspace() in c:\B\1\S\Clarity\FluentCassandra\Apache\Cassand

[2012-10-22 14:54] nberardi commented on #81
My guess with out knowing more is that you received back a garbled response
from Cassandra for a schema request.  This happens when Cassandra throws an
error that it hasn't defined in it's protocol.

https://github.com/managedfusion/fluentcassandra/blob/master/src/Apache/Cassandra/Cassandra.cs#L1065

What version of Cassandra are you using?

On Mon, Oct 22, 2012 at 10:49 AM, ilushka85 notification

[2012-10-22 14:56] ilushka85 commented on #81
1.1.5  -  Whats stange is calling the function once the data loads fine.... second time we call it this error happens --- totally random in that regard in the same function.

But second part of question is why do we need to even call describe?

[2012-10-22 14:58] nberardi commented on #80
You are asking to modify a library defined by http://thrift.apache.org/ this is the one source that I don't modify the code.  For one because it is becoming irreverent in more recent versions of Cassandra and for two, it is another companies library, so the bug should really be submitted to them.  I would be willing to entertain a solution that happened in the FluentCassandra code.

[2012-10-22 15:16] nberardi commented on #81
The schema is needed to properly encode the columns to the right type.
 When you query Cassandra everything comes back as a byte array, and then
through some magic (mainly using the schema) FluentCassandra understands
how to convert that byte array into the types and vice versa when you are saving your changes to Cassandra

On Mon, Oct 22, 2012 at 10:56 AM, ilushka85 notifications@github.comwrote:

[2012-10-22 15:18] nberardi commented on #29
I have just updated in version 1.1.9 the thrift library to version 0.9.0.  And they have made some nice strides to actually dispose of used connections after they are used.  So your churn may increase.  Here are the changes:

https://github.com/managedfusion/fluentcassandra/commit/4cd5b26adb2efa49fe891e0e488ed46c963b8b53

One thing that you should note is that I have not yet incorporated the Thrif

[2012-10-22 15:19] ilushka85 commented on #81
Yes but if we explicitly define the column family like:

public CassandraColumnFamily<LongType>  test = CreateColumnFamily<LongType>("test");

Why would it need to ever call getscema?

[2012-10-22 15:23] nberardi commented on #81
I am not quite sure what that code is doing.  Are you using `Keyspace.TryCreateColumnFamily`? I am curious to the actual code, since get schema is never called when creating a column family, because the schema is provided on creation, so there is no need to call the describe_keyspace.

[2012-10-22 15:26] ilushka85 commented on #81
Right.... this is the code i used to to create the column family .... let i run some query against this object by doing .get and some other calls... those are the ones that call the describe_keyspace:

If you look at the stack trace from my first msg you will see the describe_keyspace is being called by TryExecute

It doesnt make sense for it to call it though since ive explicitly defined the colu

[2012-10-22 15:36] nberardi commented on #81
My guess is that you only defined the name and not the schema.  If you don't want it to do a lookup you have to define the schema.  If you just provide a name it does a lookup on the schema.

[2012-10-22 15:38] ilushka85 commented on #81
How would you define the schema if its not in the way i showed above?

[2012-10-22 15:39] nberardi commented on #81
You didn't show real code, so I don't know how you would define it.  Please show you actual code and I can help.

[2012-10-22 15:41] ilushka85 commented on #81
[code]

Above is what im Executing.

the GetAllRows Function:

[code]

[2012-10-22 15:42] nberardi commented on #81
Can you please show `CreateColumnFamily` nothing else matters.

[2012-10-22 15:44] ilushka85 commented on #81
Sorry i copied and pasted wrong:

_jobTypesCF = CreateColumnFamily<UTF8Type>("JobTypes");

CreateColumnFamily is a fluent function

[2012-10-22 15:44] ilushka85 commented on #81
If you examine it further it ends up calling this:

public class CassandraColumnFamily<CompareWith> : CassandraColumnFamily
        where CompareWith : CassandraObject
    {
        public CassandraColumnFamily(CassandraContext context, string columnFamily)
            : base(context, columnFamily)
        {
            SetSchema(new CassandraColumnFamilySchema {
                FamilyName = colum

[2012-10-22 15:46] nberardi commented on #81
Use the other constructor for `CassandraColumnFamily` instead.

[code]

Also that is what confused me `CreateColumnFamily` isn't a function from FluentCassandra it must be defined in your code somewhere.  You need to use the other constructor which takes a schema, if one isn't provided, it is looked up from the server.

[2012-10-22 15:50] ilushka85 commented on #81
You are right about it not being part of fluent... heres its code:

  protected CassandraColumnFamily<CompareWith> CreateColumnFamily<CompareWith>(string CFName)
            where CompareWith : CassandraObject
        {
            return new CassandraColumnFamily<CompareWith>(db, CFName);
        }

This in turn calls CassandraColumnFamily<CompareWith>    which is a function of fluent and sets th

[2012-10-22 15:53] nberardi commented on #81
Switch to the non generic form.  That class is now obsolete.

The change to schema's happened at the same time these classes were obsoleted, because it was no longer possible to support generics with all the changes being made to the Cassandra server.

[2012-10-22 15:57] ilushka85 commented on #81
Yes but their code is functionally the same still.

[2012-10-22 16:04] nberardi commented on #81
Found the issue this will be released with the next update.

[2012-10-22 16:04] #81 closed, assigned to nberardi

[2012-10-22 16:06] ilushka85 commented on #81
I found the issue.... there is a mistake in CassandraColumnFamily.cs

public override CassandraColumnFamilySchema GetSchema()
        {
            var schema = Context.Keyspace.GetColumnFamilySchema(FamilyName);

[code]

this function calls

Context.Keyspace.GetColumnFamilySchema(FamilyName);

public CassandraColumnFamilySchema GetColumnFamilySchema(string columnFamily, bool onlyCheckCache = fals

[2012-10-22 16:06] ilushka85 commented on #81
Thats funny we got same solution at same time.

[2012-10-22 16:06] nberardi commented on #81
Already did that see last comment.

[2012-10-22 16:08] nberardi commented on #81
So this will be released with the next release, which I usually try to batch up a bunch of updates.  So I don't know when this will hit the street, but it will probably be version 1.1.10.

Until then, I would investigate why your Cassandra server doesn't like describing the same keyspace twice, because I have never seen this issue.

[2012-10-22 16:08] ilushka85 commented on #81
Its actually a substantial performance hit on apps that are web based as its constantly new contexts and such where they arent cached after first time.

[2012-10-22 16:10] ilushka85 commented on #81
Can you include the update (i didnt submit a pull request as im unfamiliar with git) but the code is posted in my other issue:  #72

[2012-10-22 16:13] nberardi commented on #81
The way that you are doing it with the old interface looses allot of the schema, so I would advise you updating it.  Secondly, sending pull requests is very easy, and you don't need to know GIT to use GitHub, you can use the Web UI or SVN if you don't like the GIT protocol.

https://github.com/blog/1178-collaborating-on-github-with-subversion

Here is a guide on how to create a pull request.

http

[2012-10-22 16:15] nberardi commented on #80
I am closing this one since, there is nothing I can do about the Thrift API.  Also there is already an issue about the connection pool in Issue #29.  I know any insight would be appreciated by the people watching that thread.

[2012-10-22 16:15] #80 closed, assigned to nberardi

[2012-10-22 23:59] ilushka85 opened #82 "Connections not being closed in latest version"
The latest version with connection pooling set to false causes connections to remain open.

This is verified by viewing netstat on client and server.

[2012-10-23 00:12] nberardi commented on #82
Please show your code. Connections will stay open if you are using a session.

[2012-10-23 00:14] ilushka85 commented on #82
Even when the session is disposed of?

What is the purpose of the session?

[2012-10-23 00:16] nberardi commented on #82
I didn't say that. Show your code to verify this. Because I don't see this problem.

[2012-10-23 00:20] ilushka85 commented on #82
public class DataStorageMapperBase : FluentCommonBase, IDisposable
    {

  public DataStorageMapperBase()
        {
            var builder = new ConnectionBuilder(ConfigurationManager.AppSettings["DataConnectionString"]);

[code]

}

  public abstract class FluentCommonBase
    {
        protected CassandraContext db = null;

}

When we use it all together:

 public class UserStorageMapper : Dat

[2012-10-23 00:24] ilushka85 commented on #82
Looks like fluentcassandraconnections.connection dispose method is never being called by cassandracontext

[2012-10-23 00:26] ilushka85 commented on #82
Also appears that despite my config saying pooling=false  its actually set to true... checking why as that would make sense for connections staying open.

[2012-10-23 00:32] ilushka85 commented on #82
So appears that the connections do close properly with pooling off but problem is they sit in time_Wait state so that wont work if a lot are openned frequently.

[2012-10-23 00:59] ilushka85 commented on #82
So heres what i have found.... when calls get executed on the server pooledconnection provider does not release them until the context is closed...

so it means the following....

   rows = usersColumnFamily.Get().TakeKeys(pageSize);

lastKey = (string)rows.Last().Key;

 foreach (var row in rows)
                {

}

The above code requires opening 2 connections..... in the case of the pooled pro

[2012-10-23 01:06] ilushka85 commented on #82
Any thoughts on why its this way?  Examining the code leads to nothing removing connections from being in use in pool until a session or context is closed / disposed

[2012-10-23 01:45] nberardi commented on #82
None of that is right. The point of a connection pool is to keep
connections open and ready to the server so you don't have to wait for a
connection. So you don't close the connection you just return it to the
pool.

First the session is responsible for closing connections or returning them
back to the pool.

https://github.com/managedfusion/fluentcassandra/blob/master/src/CassandraSession.cs#L225

[2012-10-23 02:33] ilushka85 commented on #82
By closing i meant releasing(the function is just called close)

What i notice:

https://github.com/managedfusion/fluentcassandra/blob/master/src/CassandraContext.cs#L369

This line for disposal when called has _connection as null so therefore its never released.  checking why its null now.

[2012-10-23 02:56] nberardi commented on #82
Do you mean _session or did you reference the wrong class?

##

Nick Berardi
(484) 302-0125
Sent from my tablet.

On Oct 22, 2012, at 10:33 PM, ilushka85 notifications@github.com wrote:

By closing i meant releasing(the function is just called close)

What i notice:

https://github.com/managedfusion/fluentcassandra/blob/master/src/CassandraContext.cs#L369

This line for disposal when called has _c

[2012-10-23 02:57] ilushka85 commented on #82
Well _session is not null and _Connection is.  It appears same issue described in #29 ... still figure out how to solve it its pretty big because of the lazy loading aspect.

[2012-10-23 03:10] ilushka85 commented on #82
Its what: edweip3  mentioned in #29.  Was there ever a fix for this?

[2012-10-23 03:24] ilushka85 commented on #82
The problem is that the session is disposed before its connection is set.

This can be tested by debuging the code and when it hits the following line in getcolumnfamilyrangeslices

var output = Session.GetClient().get_range_slices(
                parent,
                SlicePredicate,
                KeyRange,
                Session.ReadConsistency
            );

looking at Session has the pr

[2012-10-23 11:55] nberardi commented on #82
I would have to see the code you are running.

##

Nick Berardi
(484) 302-0125
Sent from my tablet.

On Oct 22, 2012, at 11:24 PM, ilushka85 notifications@github.com wrote:

The problem is that the session is disposed before its connection is set.

This can be tested by debuging the code and when it hits the following line
in getcolumnfamilyrangeslices

var output = Session.GetClient().get_range_s

[2012-10-23 12:23] ilushka85 commented on #82
Heres a simple test that demonstrates this:

  var builder = new ConnectionBuilder(ConfigurationManager.AppSettings["ResultlyDataConnectionString"]);

[code]

[2012-10-23 13:04] ilushka85 commented on #82
Just like posted in issue #29

If you put Session.GetClient(); inside of the execute function like in GetColumnFamilyRangeSlices.cs

Then it gets properly disposed / released etc...

[2012-10-23 13:09] ilushka85 commented on #82
This still doesnt seem to entirely solve the issue however.

[2012-10-23 13:18] ilushka85 commented on #82
Willing to pay a bounty if someone can fix this issue today.

[2012-10-23 14:18] ilushka85 commented on #51
Is this ready for prime time?

[2012-10-23 15:37] ilushka85 commented on #82
My crude attempt at fixing this was inserting the following snippets in each of the operation function classes

  var temp = output.GetEnumerator();
            if (Session.WasDisposed)
            {
                Session.WasDisposed = false;
                Session.Dispose();
            }

example - getsupercolumnfamilyrangeslices.cs

[code]

[2012-10-23 15:37] ilushka85 commented on #82
In some of the functions the getenumerator can be skipped.  by doing this in all the operation methods like above it ensures that connections are properly released.... its not the most elegant method but it works for time being.

additional needed to change WasDisposed of session to not make the set private.

[2012-10-25 22:27] ilushka85 commented on #82
Any luck at looking at this?

[2012-10-25 22:32] nberardi commented on #82
Haven't had time to look at it

[2012-10-26 17:54] ilushka85 commented on #82
Also it appears if an exception occurs on a connection like a timeout then it does not get returned to the pool either.

[2012-11-03 12:40] woolfel opened #83 "BigDecimal is incorrect"
The way cassandra stores and uses BigDecimal is reverse from what you have. The first 4 bytes is the scale and the remaining bytes are the BigInteger.

http://grepcode.com/file/repo1.maven.org/maven2/org.apache.cassandra/cassandra-all/1.0.0-rc2/org/apache/cassandra/cql/jdbc/JdbcDecimal.java

Even though this will store properly for .Net, the minute someone tries to use cassandra-cli or cqlsh, it w

[2012-11-05 01:16] nberardi commented on #83
Please review the byte output to make sure that they are in the proper order and the sections are facing the right way for their endianess.

[code]

This is taken from the following test, please update the test with the correct values if the assumptions are wrong.

https://github.com/managedfusion/fluentcassandra/commit/d05b40e1a58f2a6c466c71bd51232d5272938512#diff-6

[2012-11-13 19:32] tjake opened #85 "Connection Pooling is Blacklisting too aggressively"
We had a network issue that caused all connections to hiccup.

FluentCassandra subsequently blacklisted all the servers in the connection pool.  This logic should account for this, perhaps the blacklist entries should expire after N minutes and/or connections should be blacklisted after N failures.  Also it should avoid blacklisting all servers.

[2012-11-13 20:27] nberardi commented on #85
Merging into issue #51

[2012-11-13 20:27] #85 closed, assigned to nberardi

[2012-11-13 20:27] nberardi commented on #83
Closing since there hasn't been any response.

[2012-11-13 20:27] #83 closed, assigned to nberardi

[2012-11-13 20:29] nberardi commented on #82
Merging into issue #29

[2012-11-13 20:29] #82 closed, assigned to nberardi

[2012-11-13 21:26] eplowe commented on #51
I've implemented something similar that I am currently using in production but also takes it a step further and classify's various exception types as retry/clienthealthy -- so while you might get a connection that's good from CassandraSession.GetClient(), it might go down between the time it was opened successfully and when a command is executed against it. If we have more than one server in the l

[2012-11-13 21:27] ilushka85 commented on #51
eplowe:  do you have the code you can submit for it?  I;d like to take a look and possibly use it in our scenario as well.

[2012-11-13 21:39] eplowe commented on #51
Sure -- When I get home I'll commit into my fork. My retry implementation
is definitely not as elegant as yours, but works like a charm. I just
create a Timer in RoundRobinServerManager that is triggered on
Blacklisting. Also added two properties to CassandraException to signify
retry/healthy-ness of a node. And in Operation I modified TryExecute to
inspect the the type of exception thrown and the

[2012-11-13 21:51] nberardi commented on #51
If any of you guys want to send a pull request, I would be happy to take it.  I know this is an issue that we need to get resolved soon.  Eventually I would like to make the a ServiceManager that is ring aware so that the RoundRobin can be retired.

[2012-11-14 14:26] tjake commented on #51
I was also thinking of the circuit breaker pattern.  I'll try out @dlbromen's patch

[2012-11-14 14:28] ilushka85 commented on #51
eplowe did you get a chance to upload your changes?

[2012-11-14 16:08] tjake commented on #51
@eplowe ^

[2012-11-14 16:33] eplowe commented on #51
No sorry been kinda crazy with the day job. Let me get it by today.
On Nov 14, 2012 11:08 AM, "Jake Luciani" notifications@github.com wrote:

[2012-11-15 04:10] eplowe commented on #51
https://github.com/eplowe/fluentcassandra/tree/blacklisting-enhancements

Let me know what you think. So far from my testing, it appears to be done what I expect. With that said, there may be some edge cases not accounted for.

[2012-11-15 05:44] nberardi commented on #51
Should we really be using RoundRobin anymore?  It was created at a time when there were no mechanisms to describe the nodes in a cluster.  But now, but we now have that ability with the describe_ring function.

https://github.com/managedfusion/fluentcassandra/blob/master/src/Operations/CassandraClientWrapper.cs#L154

So I guess my question is should we keep putting lipstick on this pig, or move to

[2012-11-15 06:17] eplowe commented on #51
Agreed 100% --- but for now either dlbromens patch, or my patch can act as a stop-gap until this new mechanism is in place.

[2012-11-15 06:20] eplowe commented on #51
With that said, I'd be more than happy to work on an auto discovery mechanism.

[2012-11-15 13:56] tjake commented on #51
What does autodiscover have todo with round robin?  Wouldn't you use autodiscover to get the list of servers to round robin?  Also auto discover means you need to be sure you don't connect across DCs.

Some clients like Astynax try to connect to the one of the replicas so you cut down on coordinators hops. But even then you would still need some kind of round robin across replicas.

We've been run

[2012-11-15 14:52] eplowe commented on #51
You'd need something similar for sure. The idea is that as long as your
code can connect to at least one c\* box it'll update itself with a list of
servers. So you could add/remove servers to your cluster without having to
update your configs/code in most situations.

Hector does this and uses policies to determine which machine to connect to
-- load balanced, round robin , etc
On Nov 15, 2012 8:5

[2012-11-15 16:48] ilushka85 commented on #51
@eplowe @dlbromen @tjake   Are you guys using connection pool in your environment?  If yes are you seeing it properly release connections?

[2012-11-15 17:09] eplowe commented on #51
If you don't define a connection lifetime I am seeing the connections left
open, which makes sense, at least to me. The most expensive part of
creating a socket connection is the establish.

On Thu, Nov 15, 2012 at 11:48 AM, ilushka85 notifications@github.comwrote:

[2012-11-15 17:11] ilushka85 commented on #51
@eplowe well the connections should be left open... the question is if they get returned properly.  This is an issue we have had that I have commented on and had a slight but improper fix for this issue.

[2012-11-15 17:16] eplowe commented on #51
@ilushka85 Understood. And by returned properly, you mean from say an
exception? Based on my tests, and this is just from my particular use cases
so YMMV, I am seeing the call to PooledConnectionProvider::Close happen
when CassandraSession::Dispose is called -- which will remove the
connection from the usedconnections list and return it back to the
freeconnection queue. I'll take a look at the iss

[2012-11-15 17:32] ilushka85 commented on #51
heres a simple test if you debug this and say after the tenth time thru the loop look at the connection pool you will see ten connections are in use and not returned to freed.

var builder = new ConnectionBuilder(ConfigurationManager.AppSettings["ResultlyDataConnectionString"]);

[code]

[2012-11-15 17:41] eplowe commented on #51
You're right -- I did a similar test against a my dev cassandra server. I
think I see a possible solution. I'll post reply again when I have more.

On Thu, Nov 15, 2012 at 12:32 PM, ilushka85 notifications@github.comwrote:

[2012-11-15 17:44] ilushka85 commented on #51
@eplowe  i posted a hack that fixes this in my other message:

My crude attempt at fixing this was inserting the following snippets in each of the operation function classes

var temp = output.GetEnumerator();
if (Session.WasDisposed)
{
Session.WasDisposed = false;
Session.Dispose();
}

Any better ideas on how to do the above?  it has to do with how .net doesnt really execute code till later.

IN

[2012-11-15 17:47] dlbromen commented on #51
I haven't had a chance to catch up with the recent activity here, but can you please take the Connection releasing discussion to issue #29.  Thank you.

[2012-11-15 17:48] ilushka85 commented on #51
also current round robin method and connection pool means that second and subsequent queries you execute are not hit on next server in round robin but on the same one open connection ... so if your code only requires the use of one connection and you are using a pool all executions will happen on that one server regardless of how many you have defined.

[2012-11-15 17:58] eplowe commented on #51
I have a general idea in my head that I am churning over while at lunch
atm. Connections not returning due to exception (server down, invalid
request, etc) should be fixed in my patch that is currently in my fork.
Let's move this thread to the proper issue # moving forward.
On Nov 15, 2012 12:45 PM, "ilushka85" notifications@github.com wrote:

[2012-11-15 18:13] ilushka85 commented on #51
@eplowe Ok.  Waiting for your input there.

[2012-11-15 20:30] eplowe commented on #29
@ilushka85 https://github.com/eplowe/fluentcassandra/tree/connreleaseissue -- So, the change itself was rather simple, from my initial testing all seems well with the world. I removed the concept of a local session in CassandraContext. If ExecuteOperation runs and  _session is null, it creates one (I am thinking this might be better to put in the constructor, anyways) --- I added a CloseClient() m

[2012-11-15 23:15] ilushka85 commented on #29
@eplowe  Will put it thru the paces today.

[2012-11-15 23:20] eplowe commented on #29
Cool -- after thinking about it -- I may tweak the CloseClient command to inspect the ConnectionProviderType -- if it's normal, it might make more sense to keep it open until the context is disposed. Maybe it should be a switch passed into CassandraContext

[2012-11-15 23:20] nberardi commented on #29
Looks good except for the ExecuteOperations stuff. As discussed before at
length. Local sessions are here to stay.

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Nov 15, 2012, at 3:30 PM, Eric Plowe notifications@github.com wrote:

@ilushka85 https://github.com/ilushka85
https://github.com/eplowe/fluentcassandra/tree/connreleaseissue -- So, the
change itself was rather simple,

[2012-11-15 23:23] eplowe commented on #29
Well, the session is still technically local to the context, its just that
instead of disposing it, it just closes the client attached to it and
disposes it when cassandracontext::dispose is called and it was not passed
it on the constructor -- from what I've seen in my testing, there was no
real negative impact of doing that. I'll take a gander again at the thread.

On Thu, Nov 15, 2012 at 6:20 P

[2012-11-15 23:25] eplowe commented on #29
OK. I see your point of view. I'll make some changes to keep in line with
the concept of local sessions relative to the executeoperation

On Thu, Nov 15, 2012 at 6:23 PM, Eric Plowe eric.plowe@gmail.com wrote:

[2012-11-15 23:26] nberardi commented on #29
I would need actual unit tests showing this vs the current system. I tried
to remove this a while ago and it broke a whole bunch of applications at
banks who use this library, so I have to proceed with caution here.

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Nov 15, 2012, at 6:23 PM, Eric Plowe notifications@github.com wrote:

Well, the session is still technically local to

[2012-11-15 23:54] eplowe commented on #29
Understand completely. I'll see if I can get the unit tests written tonight
and committed into my branch. If not, it'll have to wait till early next
week as I'll be out of town start tomorrow morning.

On Thu, Nov 15, 2012 at 6:26 PM, Nick Berardi notifications@github.comwrote:

[2012-11-16 07:24] eplowe commented on #29
If we force a ToList() in the Execute method of the classes that inherit from QueryableColumnFamilyOperation<TResult> that will force eager loading instead of the expected lazy loading which causes us the end up in the situation where GetEnumerator() is deferred and CassandraContext::ExecuteOperation() can not dispose the session properly because it's _connection field was still null on the first

[2012-11-16 09:20] eplowe commented on #29
https://github.com/eplowe/fluentcassandra/tree/connreleaseissue -- I've pushed a new set of changes up. In my tests connections were properly released to the pool, unit tests still ran, local session is still local session. I've also added a little tweak to memoize the Enumerator on the first run and then use a cached version so if you were doing something like call Any() to see if anything existe

[2012-11-16 13:12] ilushka85 commented on #29
@eplowe i list an exampled fix in issue #82 that could be fixed by adding the following to all execute operations:

var temp = output.GetEnumerator();
if (Session.WasDisposed)
{
Session.WasDisposed = false;
Session.Dispose();
}

How is this different?  I think ideally we need a way to keep lazy loading and still keep proper return of connections to the connection pool

[2012-11-16 15:12] eplowe commented on #29
@ilushka85 --- A lot. The way you're doing it is simply trying to fix the
byproduct of whats happening. As I explained before,  because of the
deferred execution that comes from the nature of GetEnumerator(), the
session was already disposed once. Something finally triggers a call to
GetEnumerator() and we finally execute the operation, hit cassandra etc etc,
but now there is no way to properly cl

[2012-11-16 15:25] ilushka85 commented on #29
@eplowe  I agree that your method has its bennefits as I previously called mine just a hack to get things to work.  But i still feel that both yours and mine have one key flaw and thats the requirement of calling getenumerator when its unintended.  I think to preserve original and intended functionality a call needs to not execute on the server unless an operation is done to cause it.

Calling ToL

[2012-11-16 15:45] eplowe commented on #29
I agree, but I also tend to believe that if you're requesting it, you want
the data. So if its requested now vs. later is a philosophical debate IMO.
To keep lazy loading would require, unless I am not seeing the forest for
the trees, a big overhaul to how fluentcassandra operates internally.

On Fri, Nov 16, 2012 at 10:25 AM, ilushka85 notifications@github.comwrote:

[2012-11-16 16:13] ilushka85 commented on #51
@eplowe any thoughts on my comment above about your round robin replacement changes not taking into account using other servers when using a pool?

[2012-11-16 16:18] eplowe commented on #51
I have a change that I am still testing/not happy with that does auto
discovery plus returning potentially a diff node that's up for a single
context that's running many different commands so its not just leaning on
the first node in the queue that's up and available
On Nov 16, 2012 11:13 AM, "ilushka85" notifications@github.com wrote:

[2012-11-17 22:05] ilushka85 commented on #51
@eplowe using your blacklisting enhancements with enough timeout exceptions using the pool the connections still do not get reset and all subsequent connections fail as pool is exhausted.

[2012-11-17 22:10] eplowe commented on #51
Please provide an example.
On Nov 17, 2012 5:05 PM, "ilushka85" notifications@github.com wrote:

[2012-11-17 22:11] ilushka85 commented on #51
Don't have an example per say but that's what we see happening in our app
now.

Sent from my iPhone

On Nov 17, 2012, at 4:10 PM, Eric Plowe notifications@github.com wrote:

Please provide an example.
On Nov 17, 2012 5:05 PM, "ilushka85" notifications@github.com wrote:

—
Reply to this email directly or view it on
GitHubhttps://github.com/managedfusion/fluentcassandra/issues/51#issuecomment-104795

[2012-11-17 22:28] eplowe commented on #51
I've simulated throwing random timeout executions and from what I am seeing
I am seeing connections go back from _usedConnections to the free
connection queue. Are you talking about fluentcassandra throwing this exception?

"No connection could be made because all servers have failed."

If so, that's because I am marking the Client as not healthy for a
timeout, it should actually still technically

[2012-11-17 22:39] eplowe commented on #51
So for a brief moment all servers will be blacklisted. When the timer runs
it'll re-add to the serverqueue if no exception is thrown when it tries to
open the connection. I modified CassnadraOperationException to mark the
IsHealthy = true, instead of false for a TimedOutException and then set
MaxRetries = 5 in my connection string and re ran the test with random
timeoutexceptions being thrown in O

[2012-11-20 14:04] ilushka85 commented on #51
@eplowe I have not been able to reproduce since we corrected what was causing the timeout issue in the first place but will continue to test it.

We have found a bug in cassandra with secondary indexes just so you are aware that we reported to datastax who is working on a solution.  Basically timeouts occur if you rely on secondary indexes and perform deletes on the column with the secondary index

[2012-11-20 14:11] nberardi commented on #51
Any chance we can get a patch?  Was hoping to wrap up the next release before Thanksgiving.

[2012-11-20 17:46] tjake opened #87 "Change thrift namespace to avoid conflicts"
fluentcassandra embeds thrift (not sure why)

It conflicts with our nuget version since the namespaces collide.  It would be polite to change your copied source code to use a diff namespace to avoid this conflict

[2012-11-20 17:48] nberardi commented on #87
It embeds thrift because it needs thrift to function. We cannot change
this.

On Nov 20, 2012, at 12:46 PM, Jake Luciani notifications@github.com wrote:

fluentcassandra embeds thrift (not sure why)

It conflicts with our nuget version since the namespaces collide. It would
be polite to change your copied source code to use a diff namespace to
avoid this conflict

—
Reply to this email directly or

[2012-11-20 17:49] nberardi commented on #87
What is your NuGet version?

[2012-11-20 17:50] tjake commented on #87
I mean why can't it use a external thrift.dll

[2012-11-20 17:50] tjake commented on #87
https://nuget.org/packages/Thrift

[2012-11-20 17:56] nberardi commented on #87
To be honest. It is because the maintainer doesn't keep on top of the
updates. 0.9 has been out for a while now. Over a month now. And we are
just getting the 0.9 release.

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Nov 20, 2012, at 12:50 PM, Jake Luciani notifications@github.com wrote:

https://nuget.org/packages/Thrift

—
Reply to this email directly or view it on
GitHubht

[2012-11-20 18:28] tjake commented on #87
There's actually a C# bug in 0.9 release,  I don't see any reason why you should be using 0.9 over 0.8

[2012-11-20 18:32] tjake commented on #87
https://issues.apache.org/jira/browse/THRIFT-1709

[2012-11-20 18:47] nberardi commented on #87
The fact their is a bug is all the better reason for the control to remain
in FluentCassandra.

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Nov 20, 2012, at 1:28 PM, Jake Luciani notifications@github.com wrote:

There's actually a C# bug in 0.9 release, I don't see any reason why you
should be using 0.9 over 0.8

—
Reply to this email directly or view it on
GitHubhttps://gith

[2012-11-20 19:07] eplowe commented on #87
Its also been marked as closed. I tend to agree with Nick that
fluentcassandra a imported version of thrift is a good thing vs linking
against an external version. It gives us more control.
On Nov 20, 2012 1:32 PM, "Jake Luciani" notifications@github.com wrote:

[2012-11-20 19:09] eplowe commented on #51
I'll push the fix to mark TimedOutException::IsClientHealthy as true vs
false shortly. As for the auto discovery that will not be wrapped up before
the holidays as its a rather big change that I'd like to put more time into
it before pushing the branch for review.
On Nov 20, 2012 9:11 AM, "Nick Berardi" notifications@github.com wrote:

[2012-11-20 19:13] eplowe commented on #29
Does anyone else want to chime in on this? Nick?
On Nov 16, 2012 10:45 AM, "Eric Plowe" eric.plowe@gmail.com wrote:

[2012-11-20 19:18] tjake commented on #87
The bug is actually in the 0.9 release they reverted it post release if you look at the history.

[2012-11-20 19:20] carlyeks commented on #87
You could break out the thrift into its own library so that others can link to the thrift library as well as fluentcassandra. As it stands now, any user of fluentcassandra must use the thrift included (not a separate library since the namespaces have been polluted), but fluentcassandra should not be enforcing that. By linking to a separate fluentcassandra fork of the thrift library, you maintain c

[2012-11-20 19:25] nberardi commented on #87
I will consider it, but as of right now I have no plans to link to the Thrift library in NuGet.

[2012-11-20 19:25] eplowe commented on #87
Jake: unless I am misunderstanding this:

Reverts initial patch submitted with ticket and changes to using unchecked
{} due to reported memory issues with the previous patch. (Revision 1400487)

And issue has been marked fixed. I take that it has been resolved. The
first attempt cause OOM issues the second was to wrap it in an unchecked
block. It also affects version .8 as well. The initial compla

[2012-11-20 19:32] tjake commented on #87
The initial fix to the issue was to change the logic to using unsigned longs which caused huge memory spiked to to a bug in the implementation.  This made them revert the change but the official 0.9.0 still contains the broken code.

[2012-11-20 19:32] nberardi commented on #29
I have wrestled with this myself, and since these are RPC commands where the data is either returned or it isn't.  The commands shouldn't really shouldn't be lazy. If anything should be lazy, it should be the Fluent objects such as Column, Record, or Family.

I personally think all "yeild return" should be removed from the RPC based commands.  And for the case of the upcoming binary CQL access, th

[2012-11-20 19:36] eplowe commented on #87
I am seeing the use of an unchecked block. Which was used after the oom
issues you described. The bug, which is a compiler warning, also exists in
.8 as well
On Nov 20, 2012 2:32 PM, "Jake Luciani" notifications@github.com wrote:

[2012-11-20 19:36] nberardi commented on #51
@eplowe thanks for the TimedOutException

RE: auto discovery, this functionality should be moved to another connection manager, since for the time being we still need to support the current methodology of server lists that are provided. Right now I am favoring if in the connection string the server is just a `server:*` then we will use auto discovery, anything else will be the old method.  How doe

[2012-11-20 19:38] nberardi commented on #87
For the time being, I am going to rename the Thrift namespace.  This should get around the issue described with conflicts.  I don't want to take on a reference in NuGet at this moment, because it would complicate things for people not using NuGet.

[2012-11-20 19:38] eplowe commented on #29
So based on what you said that's what I am doing: converted all the
execute/rpc calls to return a list which forces eager loading on the rpc
calls but without affecting the implementation from the perspective of the
end user.
On Nov 20, 2012 2:32 PM, "Nick Berardi" notifications@github.com wrote:

[2012-11-20 19:38] nberardi commented on #29
@eplowe sounds good

[2012-11-20 19:41] eplowe commented on #51
Agreed. You still do need to provide at least one server because you need
something to connect to run describe ring against. I've also added auto
discover as a connection string/builder property as well as the ability to
define how often it should attempt to auto discover.
On Nov 20, 2012 2:36 PM, "Nick Berardi" notifications@github.com wrote:

[2012-11-20 19:44] #87 closed, assigned to nberardi

[2012-11-20 19:44] tjake commented on #87
Great thx!

[2012-11-20 19:56] nberardi commented on #51
You are right, I like your method better.  I think auto discover should be turned on by default, what is your thoughts?

[2012-11-20 20:03] eplowe commented on #51
That's the route I am going. Also, to give you a heads up I am removing the
concept of normal vs pool provider and moving to a more generalized manager
concept that will manage separate pools of connections per host instead of
one pool spread out for n servers
On Nov 20, 2012 2:56 PM, "Nick Berardi" notifications@github.com wrote:

[2012-11-20 20:54] eplowe commented on #51
The change for marking TimedOutException as IsClientHealthy = true instead
of false has been committed and pushed.

On Tue, Nov 20, 2012 at 3:03 PM, Eric Plowe eric.plowe@gmail.com wrote:

[2012-11-20 21:03] nberardi commented on #51
Did you send a pull request?

[2012-11-20 21:07] eplowe commented on #51
There you go. Also let me know what you decide to do with the connection
pooling/enumerators/lazy loading issue.

On Tue, Nov 20, 2012 at 4:03 PM, Nick Berardi notifications@github.comwrote:

[2012-11-20 23:22] nberardi commented on #51
Thanks for the commit from issue #88, I think that closes the issue for now.  At least until we open the code back up for #29, regarding auto searching of servers.

[2012-11-20 23:22] #51 closed, assigned to nberardi

[2012-11-20 23:39] nberardi commented on #51
Enumerator/lazy should be switched to lists since it is an RPC call.
Pooling we will wait and see how the removal of lazy commands effect it. I
would like to keep those commits separate so test they can be evaluated
individually.

##

Nick Berardi
(484) 302-0125
Sent from my tablet.

On Nov 20, 2012, at 4:07 PM, Eric Plowe notifications@github.com wrote:

There you go. Also let me know what you de

[2012-11-20 23:41] eplowe commented on #51
Just looked at the refactoring -- You should stop the timer when you try to recover, and the recovery time IMO is too long. You could have a situation where you're having some network hiccups and given the amount of traffic to your application you blacklist all your servers and now you have 30 seconds until we attempt to check if they are back up or not. 30 seconds when you're getting getting hamm

[2012-11-20 23:54] nberardi commented on #51
You do realize you weren't actually starting or stopping anything? You were
just setting trigger times in the endless loop that runs in the timer
thread, mine essentially does the same thing but uses a random time between
0 and 30 seconds.

A better one to use for servers according to MSDN is Timers.Timer. But I
was lazy and didn't want to update the code too much.

http://msdn.microsoft.com/en-us

[2012-11-21 00:05] eplowe commented on #51
http://msdn.microsoft.com/en-us/library/yz1c7148%28v=vs.80%29.aspx

Timer.Change Method (Int32, Int32)

dueTime

[code]

period

[code]

Also, there is a slight bug -- the reason I was passing the two states on the exception was to know what to do based on the exception. But you are doing things like blacklisting a connection and retrying for TimedOutExceptions -- which is wrong, a timeout doesn't

[2012-11-21 00:18] eplowe commented on #51
Also, I just noticed this as well, and when we do remove a server from the blacklist we need to add it back to _serverQueue.

[2012-11-21 00:23] eplowe commented on #51
And sorry if I diverged from your style I'll make sure future changes
adhere! With that said thanks for the comments and insight. So far its been
great working with you.
On Nov 20, 2012 6:54 PM, "Nick Berardi" notifications@github.com wrote:

[2012-11-21 00:27] nberardi commented on #51
I know what they say, but how do you think it actually work under the covers? It is essentially this.

[code]

I do realize this is an over simplification, but essentially this is how all timers work.  Also on MSDN they do make this note on http://msdn.microsoft.com/en-us/library/system.threading.timer.aspx

[code]

Also here is the difference between System.Timers.Timer and System.Threading.Timer

[2012-11-21 00:36] eplowe commented on #51
Oh I know. I actually believe they sleep to avoid spinning -- my memory
might be a little hazy from looking at the implementation in reflector. I
took them into account in CassandraOperationException. And I agree a 100%
about keeping the code base inline. I just noticed the issue and needed to
rectify it for my environment but didn't take the time to refactor the
code. Bad discipline on my part.
O

[2012-11-23 13:35] ilushka85 commented on #29
@nberardi when do you plan to merge this into the main fork?

[2012-11-23 13:59] nberardi commented on #29
It was merged.

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Nov 23, 2012, at 8:35 AM, ilushka85 notifications@github.com wrote:

@nberardi https://github.com/nberardi when do you plan to merge this into
the main fork?

—
Reply to this email directly or view it on
GitHubhttps://github.com/managedfusion/fluentcassandra/issues/29#issuecomment-10659642.

[2012-11-23 14:48] eplowe commented on #29
I didn't did a pull request for that branch. I can send one if you want.

[2012-11-23 15:34] nberardi commented on #29
I need one.  It is a pain to do it with out.  Plus a pull request starts a
conversation about the actual change, which is what I want for these types
of changes.  Make sure you reference the issue in the pull request.

On Fri, Nov 23, 2012 at 9:48 AM, Eric Plowe notifications@github.comwrote:

[2012-11-25 15:34] nberardi commented on #29
@eplowe any luck in sending the pull request.  I am sending the current changes to NuGet on Dec 1.

[2012-11-27 20:03] nberardi commented on #29
We will need to see if pull request #90 fixes this issue.  I would love to close this ticket.

[2012-11-27 20:08] eplowe commented on #29
Based on my testing everything seemed kosher. Then again, I just started digging my nails into the code base recently so you might see find a use case I didn't take into account. Btw, I am on the plane to Vegas for the AWS re:invent conf. You going?

[2012-11-27 20:16] nberardi commented on #29
I wish, but no.  :)

On Tue, Nov 27, 2012 at 3:08 PM, Eric Plowe notifications@github.comwrote:

[2012-12-04 10:06] okarmi opened #91 "1.1.10 - Exception while CQL Delete row - "object not set to an instance of an object""
After upgrading to 1.1.10 (from 1.1.9) I started getting an exception while sending a CQL Delete command.

I reverted to 1.1.9 and the exception was gone, upgrading to 1.1.10 again returned the exception.

Exception - "object not set to an instance of an object" seems to originate from
CassandraCqlRowSchema(CqlResult result, string familyName) because result.Schema is null.

The delete query does

[2012-12-04 12:19] eplowe commented on #91
use ExecuteNonQuery instead of ExecuteQuery when doing
insert/update/deletes.
On Dec 4, 2012 5:06 AM, "okarmi" notifications@github.com wrote:

[2012-12-12 02:53] eplowe opened #92 "Automatic Server Discovery"
Just creating a place holder issue for the server discovery enhancements I've made. I've also retooled the concept of the ServerManager and how it's implemented. I've been busy with the day job so I missed my original self imposed deadline... but it should be available for review before the new year.

[2012-12-15 00:28] mobilistix opened #93 "GetColumnFamilySchema returns null after CF creation"
I create a CF using either CQL via ExecuteNonQuery or the API calls.  GetColumnFamilySchema returns null.  Here is sample code:

[code]

Looking at the code, I see _cachedSchema being initialized but not updated when a CF is added.

[2012-12-15 00:54] nberardi commented on #93
Well the CQL part is obvious. If you do it through CQL. There would be no
way for the library to know it changed. You will want to call
ClearCachedKeyspaceSchema after a CQL statement to get the latest schema.

Also your example creates a table called Example2. But you check for
CSDocs2. Those names need to match up.

The TryCreateColumnFamily method clears the cache. So it will pull the
latest sc

[2012-12-19 03:43] AtwoodTM opened #94 "ColumnFamilyExists does not work and always returns false, even if the column family exists"
[code]

[2012-12-19 12:00] nberardi commented on #94
Create a unit test like these.

https://github.com/managedfusion/fluentcassandra/tree/master/test/FluentCassandra.Tests/Bugs

This is the best way to get a bug looked at.

[2012-12-21 20:01] nberardi commented on #91
I am closing this since it appears to be related to what @eplowe mentioned.

[2012-12-21 20:01] #91 closed, assigned to nberardi

[2013-01-03 01:18] nberardi commented on #93
Closing because I have received no followup.

[2013-01-03 01:18] #93 closed, assigned to nberardi

[2013-01-03 01:18] nberardi commented on #94
Couldn't reproduce.

[2013-01-03 01:18] #94 closed, assigned to nberardi

[2013-01-03 01:20] nberardi opened #95 "Add Support for Atomic Batches"
http://www.datastax.com/dev/blog/atomic-batches-in-cassandra-1-2

[2013-01-03 01:45] nberardi commented on #29
Closing because everything seems stable.  Thanks for the work everybody.

[2013-01-03 01:45] #29 closed, assigned to nberardi

[2013-01-03 01:49] #72 closed, assigned to nberardi

[2013-01-03 01:50] nberardi commented on #71
Don't think I am going to tackle this in the fluent part.

[2013-01-03 01:50] #71 closed, assigned to nberardi

[2013-01-03 01:51] eplowe commented on #71
Yeah it seems really fuzzy how the actual implementation would look.

On Wed, Jan 2, 2013 at 8:50 PM, Nick Berardi notifications@github.comwrote:

[2013-01-03 01:58] #95 closed, assigned to nberardi

[2013-01-03 02:01] eplowe opened #96 "Handling CQL3 collections"
Gonna add this one here as well. I pretty much use CQL 3 currently for all my cassandra stuff -- I'll tackle this with the other stuff I've committed too as well.

http://www.datastax.com/dev/blog/cql3_collections

Need to implement the following Types:
- [ ] SetType - http://grepcode.com/file/repo1.maven.org/maven2/org.apache.cassandra/cassandra-all/1.2.0-beta1/org/apache/cassandra/db/marshal/Set

[2013-01-03 02:02] nberardi commented on #96
CQL 3 is now the default connection type as of the release of Cassandra 1.2, I don't know the fall out of this yet for people using the Cassandra 1.1 but I guess we will soon see.

[2013-01-03 02:05] eplowe commented on #96
Excellent. Do you reckon the new collection data types in CQL3 will be
handled by FluentCassandra with no problem? That's why I put it as a place
holder issue for you to close or keep open as you deem necessary. I just
haven't had a chance to investigate been swamped :)

On Wed, Jan 2, 2013 at 9:02 PM, Nick Berardi notifications@github.comwrote:

[2013-01-03 02:05] nberardi commented on #96
But more to your point, I am guessing that Set will have to be a new Type under FluentCassandra.Types.

[2013-01-03 02:09] eplowe commented on #96
Yup. As well as the map and list
On Jan 2, 2013 9:05 PM, "Nick Berardi" notifications@github.com wrote:

[2013-01-03 02:15] nberardi opened #97 "Anybody Know Anything About These Types"
I like to maintain a pretty complete list of types in FluentCassandra, but I have to admit I know nothing about the following types:
- LocalByPartitionerType - http://grepcode.com/file/repo1.maven.org/maven2/org.apache.cassandra/cassandra-all/1.2.0-beta1/org/apache/cassandra/db/marshal/LocalByPartionerType.java?av=f
- InetAddressType - http://grepcode.com/file/repo1.maven.org/maven2/org.apache.cas

[2013-01-03 02:20] nberardi commented on #96
So we have the type names, now we just need to dig through the byte array and fit out how they are delimited.  I am betting the composite type is probably the best template for this, but it will take some digging through the source code to figure out what is actually happening.

If you are interested in getting your feet wet before diving in there is a type called `EmptyType` which seems rather tr

[2013-01-03 02:23] eplowe commented on #96
Excellent. I might actually wrap that up soon as I have some use cases that
I believe would be simplified in some existing services I maintain at my
day job.
On Jan 2, 2013 9:20 PM, "Nick Berardi" notifications@github.com wrote:

[2013-01-03 02:27] nberardi commented on #96
Remember if you decide to tackle this, these lists are generic types, and those generic types will be encoded as Big Endian, which is not as straight forward as you may think for all the types.  So make sure to reuse as much of the existing type system as already defined, and I think the `CompositeType` is going to be the best resource for these lists for a beginner to the complexity of the Fluent

[2013-01-03 03:04] eplowe commented on #96
Understood! Thanks for the heads up. One of the things that drove me to FC
was the ease of dealing with the data types back and forth. You put a lot
of thought behind them and with that the codebase for the type system is
pretty very easy to follow.
On Jan 2, 2013 9:27 PM, "Nick Berardi" notifications@github.com wrote:

[2013-01-04 00:20] IlyaGrebnov opened #98 "Exception after upgrading to version 1.2.0 (nuget)"
I am getting following exception after upgrading to 1.2.0 using nuget:

FluentCassandra.Operations.CassandraOperationException: Invalid method name: 'execute_cql3_query' ---> FluentCassandra.Thrift.TApplicationException: Invalid method name: 'execute_cql3_query'

[2013-01-04 00:44] nberardi commented on #98
What version of Cassandra are you using?

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Jan 3, 2013, at 7:20 PM, Ilya Grebnov notifications@github.com wrote:

I am getting following exception after upgrading to 1.2.0 using nuget:

FluentCassandra.Operations.CassandraOperationException: Invalid method
name: 'execute_cql3_query' --->
FluentCassandra.Thrift.TApplicationException:

[2013-01-04 05:59] IlyaGrebnov commented on #98
We are using Cassandra 1.1.6.

[2013-01-04 13:42] eplowe commented on #96
I have ListType and SetType working -- MapType should be done shortly.

[2013-01-04 14:12] eplowe commented on #97
According to the comments in the class:

_for sorting columns representing row keys in the row ordering as determined by a partitioner. Not intended for user-defined CFs, and will in fact error out if used with such._

EmptyType and ColumnToCollectionType can technically be defined, even though they aren't referenced on the cql_data_types documentation page. e.g.:

_ALTER TABLE table ADD empty_col

[2013-01-04 14:44] nberardi commented on #97
I would say `EmptyType` and `InetAddressType` are ones we are going to want to implement.  I have a feeling that `EmptyType` has a use in the `CompositeType`.

[2013-01-05 00:58] nberardi commented on #98
Cassandra 1.2.0 changed how they are doing CQL, so I am trying to figure out the best way to support the different interfaces.  I thought I had figured it out but apparently not.

[2013-01-05 01:00] eplowe commented on #98
Yeah -- CQL 3 was beta in versions leading up to 1.2. execute_cql3 doesn't
exist below 1.2. I saw you added a version check -- maybe we should look at
that and determine if we should use the regular execute_cql command if the
version if below the one needed. I think that should solve it.

On Fri, Jan 4, 2013 at 7:58 PM, Nick Berardi notifications@github.comwrote:

[2013-01-05 13:28] #98 closed, assigned to nberardi

[2013-01-05 13:31] nberardi commented on #96
Is there anywhere I can see the code? I am getting ready to make a release because of the broken CQL issue.

[2013-01-05 13:51] eplowe commented on #96
I'll post on my fork shortly.
On Jan 5, 2013 8:31 AM, "Nick Berardi" notifications@github.com wrote:

[2013-01-06 00:34] Aaronontheweb opened #100 "Change DateType Storage to ISO 8601"
Focus of issue: Change storage mechanism from epoch (long) to ISO 8601 (ToString("u"))

---

We have a number of counter columns which have static CompositeType names, usually something along the lines of `CompositeType<UTF8Type, DateType>` - we use these in wide rows for time-series data for related measures.
## Unit Test to Reproduce Error

One issue I noticed in FluentCassandra is what when I w

[2013-01-06 00:58] nberardi commented on #100
This is the line tat serializes it to bytes.

https://github.com/managedfusion/fluentcassandra/blob/master/src/Types/DateTypeConverter.cs#L88

Or since it was a CompositeType it may be here.

https://github.com/managedfusion/fluentcassandra/blob/master/src/Types/CompositeTypeConverter.cs#L78

##

Nick Berardi
(484) 302-0125
Sent from my tablet.

On Jan 5, 2013, at 7:34 PM, Aaron Stannard notificat

[2013-01-06 01:34] nberardi commented on #100
So I broke out the code to make it more digestible.

[code]

I then plugged `l` into this website http://www.epochconverter.com/ to see what the resulting epoch value was, and it was right on the money.

[code]

Are you sure that whatever algorithm you are using to see the date written to the server is correct?  Because it seems like it is taking the server value, applying your local offset and th

[2013-01-06 03:17] Aaronontheweb commented on #100
It could very well be that the server is applying it's own UTC offset, although I find that troubling in the second case where I explicitly set a UTC offset (of 0, in this case) using DateTimeOffset. I should note that I'm able to retrieve the value just fine from the client - my worry is that without being able to standardize to UTC I may end up in a situation where I'm misplacing data due to wha

[2013-01-06 03:20] nberardi commented on #100
Can you try from the CQLSH and see what is returned?

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Jan 5, 2013, at 10:17 PM, Aaron Stannard notifications@github.com
wrote:

It could very well be that the server is applying it's own UTC offset,
although I find that troubling in the second case where I explicitly set a
UTC offset (of 0, in this case) using DateTimeOffset. I shou

[2013-01-06 03:21] Aaronontheweb commented on #100
[code]

I don't think the latest version of DataStax Community edition ships with CQL3 yet, :(

[2013-01-06 03:22] Aaronontheweb commented on #100
I have another idea - let me try that out

[2013-01-06 03:24] Aaronontheweb commented on #100
Doh! When I changed the calling code to grab the entire counter row instead of just a single column, as below:

[code]

I ran into a deserialization error from FluentCassandra - I'm going to investigate.

[2013-01-06 03:24] eplowe commented on #100
http://cassandra.apache.org/doc/cql3/CQL.html#usingdates

It seems that if you just send a long for the timestamp Cassandra will use
the time zone configured on the server. Even though this is a cql 3 ref. If
my memory serves me it should be applicable for Cassandra in general .
On Jan 5, 2013 10:21 PM, "Aaron Stannard" notifications@github.com wrote:

[2013-01-06 03:28] Aaronontheweb commented on #100
@eplowe @nberardi got it - so two quick questions for you:
1. Is there a way to specify a timezone for Cassandra in the .yaml file?
2. Is there an alternative way to send the DateTime via Thrift that doesn't require converting it to a long?

[2013-01-06 03:38] nberardi commented on #100
That is not how I read it. What they said was for ISO 8601 if you don't
include the time zone one will be added from the server.

Longs stay as longs. Which seems to be inline with the fact the same value
is retrieved that is inserted.

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Jan 5, 2013, at 10:25 PM, Eric Plowe notifications@github.com wrote:

http://cassandra.apache.org

[2013-01-06 03:44] nberardi commented on #100
Not that I am aware of on both accounts.

By the way the difference you are seeing with date times is because the
DateTime object doesn't specify a time zone. So I had to choose UTC or
Local for when spitting it out. And I choose Local because that is the most
common use of DateTime.

Switch to DateTimeOffset if you want it to work. While the time zone is
reset to UTC when retrieved it is the exac

[2013-01-06 03:46] eplowe commented on #100
Sorry for the confusion I was typing on my phone -- yes, you're right.

On Sat, Jan 5, 2013 at 10:38 PM, Nick Berardi notifications@github.comwrote:

[2013-01-06 04:05] eplowe commented on #96
https://github.com/eplowe/fluentcassandra/commits/cqlcoltypes -- I've just included the SetType for now for you to review to make sure you're happy with the direction. I've tested it pretty extensively and seems to be working as expected. Even though in cassandras world a SetType is a java Set and the ListType is a List -- I am thinking about making them the same, but we'll see.

It also needs som

[2013-01-06 04:07] Aaronontheweb commented on #100
I fixed a bug in FluentCassandra that prevented me from being able to do a multiget slice of counter columns (pull request coming shortly), and here's what I got back for the column names:

With DateTimeOffset specified, prior to Write:
{Sessions:2013-01-06 00:00:00Z = 8}

Value on Server:
(counter=Sessions:2013-01-05 16:00:00-0800, value=8)

Read back onto Client from the server
{Sessions:2013-01

[2013-01-06 04:19] nberardi commented on #100
The problem with epoch is that there are no time zones. So no matter what
you put in only UTC can be pulled out.

Plus you only get millisecond resolution. So if you need more than that you
are out of luck.

The alternative is to use Long and put ticks into the database.

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Jan 5, 2013, at 11:07 PM, Aaron Stannard notifications@github

[2013-01-06 04:33] nberardi commented on #100
It looks like Cassandra may have changed the DateType.

http://grepcode.com/file/repo1.maven.org/maven2/org.apache.cassandra/cassandra-all/1.2.0-beta1/org/apache/cassandra/db/marshal/DateType.java

It looks like it supports ISO 8601. Which might be slightly slower reading
and consuming over a long. But would hopefully solve the time zone issue.

If you want to tackle this be my guess in a differen

[2013-01-06 04:43] nberardi commented on #96
Make sure you get latest. You change includes a change I had already made
to the connection builder.

Looks like a good first start. Please remember that FluentCassandra code
base uses tabs, so that it doesn't throw the formatting off.

One of the things that makes Fluent Cassandra so easy to use is the
transparent types. So make sure that the object can take for example an
array of ints. Somethin

[2013-01-06 04:51] eplowe commented on #96
Yeah I handled the conversions similar to what you did with composite type.
So you can take an array of objects/CassandraObjects/list/hashset and it'll
handle the conversion back and forth etc.

Yeah I have an add on that is screwing with the formatting I need to
disable it. If you do decide to do it the reading for list is the same as
the set. First two bytes are the number of items. Map is the s

[2013-01-07 10:17] Aaronontheweb commented on #100
@nberardi thanks - I'll look into it. For now I decided to take your advice and use a long - probably a better practice anyway.

[2013-01-07 12:20] eplowe opened #102 "Issue with Linq to CQL with Cassandra 1.2"
This is actually a two fold problem, but of the same underlying nature. When you create CF's now and you don't wrap the CF name or column names in double quotes they will default to lower case. If you want mixed case you need to wrap the names in double quotes. All examples are coming from the FluentCassandra.Sandbox project.
### First Problem

[code]

Will result in the following output from `DES

[2013-01-07 13:09] eplowe commented on #96
Found out what `EmptyType` is for. Say you create a CF using the API.

[code]

You'll get from `DESCRIBE KEYSPACE`

[code]

Then using this code:

[code]

You'll get the error `EmptyType only accept empty values` back from Cassandra.

[2013-01-07 13:15] eplowe commented on #102
Also, in the method `CreateFirstPost()` it seems that using the FluentCassandra API to insert records into a CQL created table do not work. No errors are thrown but no data is inserted.

[2013-01-07 13:26] nberardi commented on #102
There is a known problem with the RPC vs CQL that has nothing to do with FluentCassandra.

When you insert a table through CQL the table name becomes all lowercase.  When you insert through RPC the table name maintains the correct case.

This may result in the issues that you are talking about, because Cassandra is case sensitives with table names.

[2013-01-07 13:28] nberardi commented on #100
Since ISO 8601 is probably the recommended way to go, lets make the focus of this issue changing the storage mechanism from long to ISO 8601.

[2013-01-07 13:48] eplowe commented on #102
@nberardi Understood. But with the current implementation of CQL it still needs to be escaped with double quotes to maintain case. If you create a CF, say Tags, via RPC:

[code]

its definition is "Tags" via `DESCRIBE KEYSPACE` -- when you issue CQL against that CF using LINQ to CQL:

[code]

it needs to be escaped properly. e.g. `SELECT * FROM "Tags"` instead of `SELECT * FROM Tags` which will th

[2013-01-07 13:51] nberardi commented on #102
What are we talking about CQL or CQL3?  And what happens if you use quotes in the old CQL?  This is very easy to add, but if the old CQL doesn't support it then we have a lot of work to do to split out the LINQ rendering.

[2013-01-07 14:00] eplowe commented on #102
@nberardi CQL 3. Yeah, CQL 2 does not like the double quotes at all.

[2013-01-07 14:17] eplowe commented on #102
@nberardi WRT to the issue of the thrift api not inserting data into the "Posts" CF in the Sandbox project. I got it to work doing the following when the CQL type was set to CQL 3 on the connection:

[code]

You can definitely mix and match but it seems you can't really utilize the old thrift api against CQL 3 created CFs. As it is, if you use the thrift API to create CFs it appends WITH COMPACT S

[2013-01-07 14:31] nberardi commented on #102
So whats the plan for this?  What needs to be changed to get the desired effect you guys are looking for?  Just quotes around the CF name?

[2013-01-07 14:39] eplowe commented on #102
And ColumnNames if they are supplied. This is CQL 3 only. Also, the nice
API e.g.: CreateRecord/Attach/SaveChanges/InsertColumn won't work unless
the CF is defined WITH COMPACT STORAGE. So using CQL 3 we'll be using
INSERT/UPDATE statements, which is fine, but it would be nice if we had
something similar to the thrift api.

On Mon, Jan 7, 2013 at 9:31 AM, Nick Berardi notifications@github.comwrote

[2013-01-07 14:53] nberardi commented on #97
Added the two types I was concerned about.

[2013-01-07 14:53] #97 closed, assigned to nberardi

[2013-01-07 14:54] nberardi commented on #102
Since this is CQL3 only this is not an easy task.  Because we are going to need to split the LINQ interpreter.

[2013-01-07 14:55] nberardi commented on #96
Make sure you pull latest changes. I have changed `CassandraType` to support `EmptyType` and `InetAddressType`

[2013-01-07 14:57] eplowe commented on #96
Will do. I just need to write a few more unit tests and I'll be pushing up
Set/List/Map.

On Mon, Jan 7, 2013 at 9:55 AM, Nick Berardi notifications@github.comwrote:

[2013-01-07 15:02] nberardi commented on #96
As I noted with @aaronontheweb please try you best to use tabs instead of spaces when committing.  It looks like your default environment is setup for spaces and not tabs.  Which is no big deal, but there are plugins to help fix the files.  Most notably and the one I use is the Productivity Power Tools for Visual Studio 2012.

http://visualstudiogallery.msdn.microsoft.com/3a96a4dc-ba9c-4589-92c5-6

[2013-01-07 15:06] eplowe commented on #96
@nberardi will do. I actually switched my environment to tabs and I got the add on over the weekend.

[2013-01-07 15:08] nberardi commented on #96
One last place I forgot to mention so that the type conversion works when dealing with the CassandraObject type.

https://github.com/managedfusion/fluentcassandra/blob/master/src/Types/CassandraObject.cs#L176

There are a couple collection types already there, you may need to add ones for Set and Map.  Interfaces are not allowed so these have to be implemented system types.

There is a lot of plac

[2013-01-08 18:27] ghost opened #103 "Issue with FluentCounterColumns"
Hi Nick,

I'm trying to find a way to increment multiple counter columns at once using FluentCounterColumn - it looks like FluentCounterColumns aren't supported in CassandraContext.SaveChanges() yet.

I'd be happy to add this capability to FluentCassandra, but I am having some trouble figuring out where to start inside the FluentCassandra codebase.

Could you please outline the steps for what I wo

[2013-01-08 20:38] nberardi commented on #103
You should talk with @aaronontheweb he started working on this over the weekend.

[2013-01-08 20:50] Aaronontheweb commented on #103
@nberardi Cenk and I are on the same team - unfortunately I don't know the answer to his question either; what we're looking for is some clarification on what we need to do to enable FluentCassandra to support batch mutations with FluentCounterColumns - if you could give us some idea of where we should start that would be tremendously helpful :)

[2013-01-08 20:57] nberardi commented on #103
Okay didn't know you were on the same team.  I assume you guys have done the first step and know that you can do this via a batch update.  Assuming that has been done the next logical step is to start here:

https://github.com/managedfusion/fluentcassandra/blob/master/src/Types/CounterColumnType.cs

This is the type that is used for the counter.  Assuming nothing has to change with `FluentColumn`

[2013-01-10 09:45] ghost commented on #103
When i try to use FluentCounterColumn like below. i am having exception. Either i dont use it correctlly or there is a problem with FluentCounterColumn.
**What is wrong here ?  How should i be using FluenCounterColum ?**
i would like to send countercolumn updates in one batch.

[code]

FluentCassandra.Operations.CassandraOperationException was unhandled by user code
  HResult=-2146233088
  Message

[2013-01-10 15:14] nberardi commented on #103
I don't really know if `FluentCounterColumn` is the best approach anymore or even if it was implemented correctly.  Personally I have never had a use case for counter columns.  So I am relying on you guys to give guidance.

[2013-01-10 21:05] ilushka85 commented on #29
We are still encountering issues where cassandra is dropping / closing / timeing out connections    after this happening many times the connection pool will never return a connection despite cluster being functional.

[2013-01-10 21:39] eplowe commented on #29
Some of the errors you listed will blacklist a server. The default recovery time is 30 seconds. If you get enough of those in that window you could exhaust your pool. I would look into why you're getting dropped / closed / timing out connections cassandra in such a constant rate as to cause that to happen. You may need to tune your cluster/servers, or scale out, etc etc.

[2013-01-11 19:12] Aaronontheweb commented on #92
@eplowe any word on this? Seems like a great set of improvements :)

[2013-01-11 19:53] eplowe commented on #92
I have a branch working but my day job has kept me very busy and I haven't
had time to go back and properly test, etc.

On Fri, Jan 11, 2013 at 2:12 PM, Aaron Stannard notifications@github.comwrote:

[2013-01-12 21:39] ilushka85 commented on #29
@eplowe what happens is that a timeout occurs on one secondary index(we are trying to figure out why) and after this it corrects itself but by the time it does fluent will never grant a connection.... its like the servers never come off the blacklist... basically after we hav etheh initial set of timeouts the only errors we get is timing out waiting for a connection from pool

[2013-01-12 21:44] eplowe commented on #29
I would step through it. Like I said the default recovery timer is 30
seconds. When the recovery method runs it tries to open a connection. if
its successful, its put back in the server queue. Can you create a unit
test simulating your situation?
On Jan 12, 2013 4:39 PM, "Ilya Beyrak" notifications@github.com wrote:

[2013-01-12 21:46] ilushka85 commented on #29
@eplowe i will try this but it will be very hard to reproduce in our test environment.  It appears the recovery method never runs since we can leave the application running for 24 hours and the only errors that will happen is that it cant get a connection from the pool.  Restarting the app at any point then makes it work fine.

[2013-01-12 21:47] eplowe commented on #29
Are you running the most recent release of fluentcassandra?
On Jan 12, 2013 4:46 PM, "Ilya Beyrak" notifications@github.com wrote:

[2013-01-14 08:58] Aaronontheweb opened #105 "BatchMutations bug when updating same rows with CompositeKey multiple times"
I found an edge-case bug while I working with FluentCassandra earlier today - the problem is that if you try to execute multiple mutations against a row defined using the same `CompositeType` key (but with different column values associated with it), only one of the mutations is ever executed.
## Reproducible unit test

Ran with the latest build of FluentCassandra - this test currently fails.

[co

[2013-01-14 09:37] Aaronontheweb commented on #105
Found the issue looks like it's this:

https://github.com/managedfusion/fluentcassandra/blob/master/src/Types/CompositeType.cs#L138

When the `CompositeType` has its `GetHashCode` method called during [BatchMutate's Mutations.GroupBy command on line 20](https://github.com/managedfusion/fluentcassandra/blob/master/src/Operations/BatchMutate.cs#L20), the hash code returned is different for each comp

[2013-01-14 12:04] nberardi commented on #105
Thanks this is a good addition. Do you think we should do it for the Dynamic Composite Type?

[2013-01-14 14:46] #105 closed, assigned to nberardi

[2013-01-23 06:28] Aaronontheweb opened #107 "~85 unit tests don't pass"
Most of the tests appear to fail due to one test corrupting the CassandraContext inside DatabaseSetup - we've identified a few potential errors and will be following up with a pull request

[2013-01-26 08:16] clamanna opened #110 "Specifying username / password causes infinite recursion in CassandraSession.cs"
Which results in a stack overflow if you provide the username / password:

The login calls GetClient() which then calls Login() and voila, infinite recursion.

[code]

[2013-01-28 19:47] clamanna commented on #110
I will send a pull request later today

[2013-01-28 19:51] nberardi commented on #110
Great and thank you.

On Mon, Jan 28, 2013 at 2:47 PM, Charles Lamanna
notifications@github.comwrote:

[2013-01-30 20:53] #110 closed, assigned to nobody

[2013-01-30 21:55] #102 closed, assigned to nberardi

[2013-01-30 22:07] nberardi commented on #100
I was wrong, they still require milliseconds to be sent in through the RPC interface.  The other formats only work though CQL.

The composer that takes the ByteBuffer is the key indicator in this.

http://grepcode.com/file/repo1.maven.org/maven2/org.apache.cassandra/cassandra-all/1.2.0-beta1/org/apache/cassandra/db/marshal/DateType.java#43

This is just going to have to be one of those issues, I a

[2013-01-30 22:14] #100 closed, assigned to nberardi

[2013-02-04 20:00] xtremeC opened #112 "example FluentCassandra.Sandbox"
its not working example  FluentCassandra.Sandbox.

Do you have any example that works?

In CreateComment I have this error :

System.String cannot be cast to System.DateTimeOffset

[2013-02-17 00:37] nberardi opened #114 "DataStax Ripped Us Off"
Notice any similarities here:

https://github.com/datastax/csharp-driver/blob/28d8958873f55727bf515cf97b32c9cbfa31af9f/Cassandra.Data.Linq/CqlQueryEvaluator.cs
https://github.com/datastax/csharp-driver/blob/28d8958873f55727bf515cf97b32c9cbfa31af9f/Cassandra/GuidGenerator.cs
https://github.com/datastax/csharp-driver/blob/28d8958873f55727bf515cf97b32c9cbfa31af9f/Cassandra/GuidVersion.cs

No attribut

[2013-02-17 00:53] nberardi commented on #114
Probably shouldn't be mentioning all the bugs they stole from us. But they copied the flawed DateTimePrecise.

https://github.com/datastax/csharp-driver/blob/master/Cassandra/DateTimePrecise.cs

[2013-02-17 00:55] eplowe commented on #114
They did give credit for BigDecimal.cs at least:
https://github.com/datastax/csharp-driver/blob/master/Cassandra/BigDecimal.cs

On Sat, Feb 16, 2013 at 7:37 PM, Nick Berardi notifications@github.comwrote:

[2013-02-17 01:13] nberardi commented on #114
Must be because @pawel-kaplanski didn't do it. He seems to be the main culprit.

[2013-02-17 08:20] ghost commented on #114
Sory guys - I will fix it ASAP.
in https://github.com/datastax/csharp-driver/blob/28d8958873f55727bf515cf97b32c9cbfa31af9f/Cassandra/GuidGenerator.cs there is info about you too. Do you have any recommendation how you would like to be referenced?

[2013-02-17 08:43] nberardi commented on #114
You referenced a blog post which pointed to a piece of code on FluentCassandra, if you copy FluentCassandra code, you should reference FluentCassandra.

[2013-02-17 08:48] nberardi commented on #114
I am willing to let this pass and move on, I have already said my peace on my blog last night.  Apparently the help that Michael promised from you has about as much weight as a feather in the wind, because the issues you contributed #58 and #56 were fixed in your own source code base, but never contributed back here.

You can prove me wrong by contributing back, because you have done a good job at

[2013-02-18 03:25] mfiguiere commented on #114
Thanks for bringing this to my attention, Nick!

While building our driver, Pawel did reuse a few code from FluentCassandra for some very targeted issues leveraging the fact that our two projects both use ASL2 and that this is made possible by sections 2 and 4 of this license, regarding derivative works and distribution. As you've noticed yourself, we wish to go even beyond it by specifically ackn

[2013-02-18 05:10] martinvan commented on #114
Nick, as the VP of Engineering at DataStax I can assure we are committed the guidelines and spirit of the open source community.  As Michael mentioned in his comments our use of the code conforms to the terms of the Apache license, however we don't want there to be any bad feelings and are happy to add additional attribution to the code and to contribute changes back to Fluent Cassandra as appropr

[2013-02-18 13:41] nberardi commented on #114
That one file for LINQ that you seem to brush off as just forgetting, may just be a text file that helped your driver get an advanced feature with a small amount of extra work. But to me it represents countless hours, over a year and a half, of learning, tweaking, optimizing, and refining.

And on top of it @pawel-kaplanski opened two issues on our project and then proceeded to fix them for his ow

[2013-02-19 09:08] ghost commented on #114
Nick,

1) There were some files that were properly referenced:
a) https://github.com/datastax/csharp-driver/blob/master/Cassandra/BigDecimal.cs
b) https://github.com/datastax/csharp-driver/blob/master/Cassandra/GuidGenerator.cs  - was referenced to your blog and to fluetncassandra by name
"-// from fluent cassandra
-//http://coderjournal.com/2010/04/creating-a-time-uuid-guid-in-net/"
c) https://gi

[2013-02-19 17:40] aarondandy commented on #114
This is not legal advice and I really hope that it does not get to a point that requires it. While it will not heal the emotional wounds it may be productive if both sides (@managedfusion and @datastax) [apply the Apache License](https://github.com/managedfusion/fluentcassandra/blob/master/LICENSE.txt#L179) to the code and @datastax of course would have to respect [4-C](https://github.com/managedf

[2013-02-24 22:58] nberardi commented on #114
@DataStax you guys aren't winning any friends with the pull request in issue #115, it is a total disgrace.  @pawel-kaplanski just basically tossed code over the wall and said have at it.  Didn't even bother to change your namespace or even to work it into FluentCassandra.  The code is essentially 2 useless text files.

If this is what you call OSS, I think you guys need to go back to the drawing b

[2013-02-26 17:19] kmbnw opened #116 "Timeout parameters in CassandraContext and ConnectionBuilder are ambiguous"
This is minor, but given that int timeout parameters are (in general) often in milliseconds, I was surprised to see that "timeout" in CassandraContext and "connectionTimeout" in ConnectionBuilder are in seconds:

ConnectionTimeout = TimeSpan.FromSeconds(connectionTimeout);

Would it be possible to do one of the following:
- Rename those parameters to indicate seconds
- Use a TimeSpan instead
- Put

[2013-02-26 18:43] nberardi commented on #116
I would be happy to accept a pull request with an additional constructor that had the connectionTimeout and others as TimeSpan types.

[2013-02-26 19:04] kmbnw commented on #116
OK, I'll get something together as soon as the policy I mentioned above gets resolved.  Thanks.

[2013-03-04 15:07] dlbromen opened #117 "GuidGenerator can produce a Guid with embedded time of 10/15/1582"
We've been using FluentCassandra v1.1.9's GuidGenerator in production now for a few months.  We generate 30+M Time UUIDs per day with it and it works great for the most part.  What I have noticed, is a handful of times per day, it will generate a Guid such that when I pass it into GuidGenerator.GetUtcDateTime, it returns the beginning of the Gregorian calendar, 10/15/1582.

A few other observation

[2013-03-04 15:27] nberardi commented on #117
Have you logged those GUID's?

Also which method are you using?  Fast or NoDuplicates?

https://github.com/managedfusion/fluentcassandra/blob/master/src/GuidGenerator.cs#L181

[2013-03-04 15:35] dlbromen commented on #117
Hi Nick,
I don't have them handy, but yes I did have a sampling.  I can either dig them up or get a new sample if that helps.

We're using the default (No Dups).

[2013-03-04 15:38] nberardi commented on #117
Either works for me I just need to extract the ticks and see what is going on.  Is there anyway that you can record what they are before they go in and what they are after they come out.  Because I want to make sure that FluentCassandra is generating the faulty GUID or if it is a data corruption issue.

[2013-03-04 19:44] dlbromen commented on #117
In the process of digging up some faulty ones.  Regarding, "Is there anyway that you can record what they are before they go in and what they are after they come out."  Not sure what you mean here or what you're after so I thought I'd ask so I can make sure I'm helping best I can.

[2013-03-04 20:00] nberardi commented on #117
Lets start with the bad ones. As they come out of your database.

On Mar 4, 2013, at 2:44 PM, Derek Bromenshenkel notifications@github.com
wrote:

In the process of digging up some faulty ones. Regarding, "Is there anyway
that you can record what they are before they go in and what they are after
they come out." Not sure what you mean here or what you're after so I
thought I'd ask so I can make su

[2013-03-04 20:26] dlbromen commented on #117
Guid be974d7c-0000-0000-0000-000000000000 - Date: 10/15/1582 12:05:19 AM - have seen this one more than once
Guid 8f9faa2a-0000-0000-0000-000000000000 - Date: 10/15/1582 12:04:00 AM

[2013-03-04 20:33] dlbromen commented on #117
Another one that happened yesterday: Guid 4f432220-0000-0000-0000-000000000000 - Date: 10/15/1582 12:02:12 AM

[2013-03-04 22:10] nberardi commented on #117
Were those generated by FluentCassandra?

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Mar 4, 2013, at 3:26 PM, Derek Bromenshenkel notifications@github.com
wrote:

Guid be974d7c-0000-0000-0000-000000000000 - Date: 10/15/1582 12:05:19 AM -
have seen this one more than once
Guid 8f9faa2a-0000-0000-0000-000000000000 - Date: 10/15/1582 12:04:00 AM

—
Reply to this email directly

[2013-03-04 22:11] nberardi commented on #117
To be honest these look like DateType values. Not TimeUuidType. If you were
to look at the bytes returned.

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Mar 4, 2013, at 3:33 PM, Derek Bromenshenkel notifications@github.com
wrote:

Another one that happened yesterday: Guid
4f432220-0000-0000-0000-000000000000 - Date: 10/15/1582 12:02:12 AM

—
Reply to this email directly or vie

[2013-03-04 23:08] dlbromen commented on #117
Yes, they were generated by FluentCassandra.GuidGenerator.GenerateTimeBasedGuid().

I can find them by inspecting a string representation stored in a JSON object.  I don't actually look at the column name (time uuid type).

[2013-03-04 23:35] nberardi commented on #117
I just don't understand how they could be generated. Because it is missing
the constant that says its a TimeUUID. Which it would be impossible not to
set.

Get the bytes out and check to see if it is an epoch. I have a suspicion
that something else is writing these.

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Mar 4, 2013, at 6:08 PM, Derek Bromenshenkel notifications@github.

[2013-03-05 00:47] dlbromen commented on #117
Bytes? I'm just not clear on what that will gain us here.  Again I'm getting these from a JSON object.  At runtime we generate a TimeUUID and included it (string representation) in the JSON data and write the whole thing to a UTF8 column.

[2013-03-05 00:57] nberardi commented on #117
What I am saying is that there is no way that this is a TimeUUID or that it was generated by FluentCassandra.  Lets break it down.

4f432220-0000-0000-0000-000000000000

The first 8 bytes or _4f432220-0000-0000_ is the timestamp from the gregorian calendar.  The next two bytes would be the clock sequence or _0000_ which is unlikely that it would ever be zero, given that you are using no-duplicates

[2013-03-05 01:01] nberardi commented on #117
If you find a path where you can generate a TimeUUID like that please let me know, because it shouldn't be happening, but I am very confident in this code and the simple process that it goes through.

[2013-03-05 01:34] dlbromen commented on #117
I completely agree this is odd.  But, we literally are talking 1-in-a-million here - it works flawlessly millions of times per day.

The code path for this in the app is simple.  I can tell this is happening at generation-time _before_ persisting it anywhere.  I am certain FluentCassandra generated them.

I think it is a mistake to dismiss this simply because it appears impossible.  I'm thinking a

[2013-03-05 02:04] nberardi commented on #117
Well I don't have an answer. I guess the only thing you could do is create
a program that generates millions of instances in hopes of reproducing.

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Mar 4, 2013, at 8:34 PM, Derek Bromenshenkel notifications@github.com
wrote:

I completely agree this is odd. But, we literally are talking
1-in-a-million here - it works flawlessly mill

[2013-03-05 02:13] dlbromen commented on #117
I have tried that to some extent as mentioned in the original post.  The challenge I pose is: Let's say we could reproduce it once in 24 hours while generating these.  Then what?  What do we capture?

The reason I say this, is to a degree I am reproducing it every day in production.  Depending on what the next step is, I may be able to do that in production.

[2013-03-05 02:44] nberardi commented on #117
Well lets first track down the server whose Node is set to 000000000000, because that one is probably the culprit since the Node is only set once.

[2013-03-05 15:25] dlbromen commented on #117
According to our server logs, all of them regularly experience this problem.  It appears it is just one bad GUID at a time, though. What I mean is a given server can have multiple faults over time, but never a whole bunch of them back-to-back.

[2013-03-05 15:27] nberardi commented on #117
Which is odd because the node is set once and never changed.

My I ask a question if you are just serializing a TimeUUID down to a UTF8.  Why not just store a DateTimeOffset.Now?  Or store the ticks in a IntType?

[2013-03-05 15:58] dlbromen commented on #117
We are also using it the "useful" way where it is a uuid column name type
and we're storing ordered, unique columns. I just didn't want to distract
the conversation with this and other complicated parts of the system.
I just want to make sure it is understood that this is happening at
generation time.

Sent from my Galaxy Nexus
On Mar 5, 2013 9:28 AM, "Nick Berardi" notifications@github.com wrote:

[2013-03-05 16:32] nberardi commented on #117
My hands are sort of tied until I can reproduce this behavior that you describe.

Because here is what would have to go wrong for this to happen.

line 253 has to get converting the types wrong from the ticks
lines 256, 259, 265, 266, 269, and 270 need to be skipped

in this method https://github.com/managedfusion/fluentcassandra/blob/master/src/GuidGenerator.cs#L237

I can't easily reproduce that

[2013-03-11 18:38] kmbnw opened #118 "TrySetValue with null value throws a NullReferenceException rather than returning false"
When I use TrySetValue with a null value, I get a null pointer exception, rather than the expected boolean return of false:

System.NullReferenceException : Object reference not set to an instance of an object.
at FluentCassandra.FluentColumn.set_ColumnValue(CassandraObject value) in F:\github\fluentcassandra\src\FluentColumn.cs:line 61
at FluentCassandra.FluentColumnFamily.TrySetColumn(Object nam

[2013-03-13 08:38] nx-jackal opened #119 "CRITICAL: CassandraSession.Login() does not work!"
The following code always throw exception during Connection.SetKeyspace() within GetClient() because it tries to select a keyspace before calling login to authenticate.

[code]

[2013-03-13 08:52] nx-jackal commented on #119
Update that line to the following to allow authentication to pass:

this.GetClient(setKeyspace: false, setLogin: false).login(auth);

[2013-03-18 10:12] gillotte opened #120 "CompositeType wont serialize properly for col name"
Hi Nick, consider the following

[code]

this fails essentially because this line fails

[code]

A proposed fix:

Edit CassandraObject's Get Value to include bytetype clause.

[code]

thoughts?

[2013-03-18 11:14] nberardi commented on #120
Can you send a pull request with a test showing the failure.

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Mar 18, 2013, at 6:12 AM, gillotte notifications@github.com wrote:

Hi Nick, consider the following

CompositeType colname = new CompositeType(new CassandraType[] {
CassandraType.AsciiType, CassandraType.AsciiType });
        AsciiType k1 = new AsciiType();
        k1.Set

[2013-03-19 06:29] nx-jackal opened #121 "Enabling authentication and using FluentCassandra to perform insert becomes terribly slow"
After enabling Authenticator in cassandra.yaml using PasswordAuthenticator in cassandra configuration, the record insertion becomes extremely slow.

Unauthenticated insert performance: 2ms-3ms per record insert
Authentication insert performance: 250ms - 280ms per record insert

[2013-03-20 14:44] #121 closed, assigned to nobody

[2013-03-20 14:44] nberardi commented on #121
Thank you for the pull request.

[2013-03-20 14:44] nberardi commented on #119
Thank you for the pull request.

[2013-03-20 14:44] #119 closed, assigned to nobody

[2013-03-20 14:51] nx-jackal commented on #121
Welcome and thank you for actively maintaining this Cassandra driver as OSS project :+1:

[2013-03-22 01:30] nx-jackal opened #125 "FluentCassandra Thrift transport throws exception after idling due to Cassandra connection closed"
Got the following exception when my application idles for a while without activity. Is there a way for FluentCassandra or exposed method to check the connection status? So perhaps I can do a refresh or reconnect? Thanks

[code]

[2013-03-22 13:54] nberardi commented on #125
Are you using a Pooled connection?  Because it is designed to handle this,
if you just have one server, you are probably going through a Normal
connection which has a simple connection design.

[2013-03-22 16:53] nx-jackal commented on #125
Yes, I'm using a pooled connection already but still getting that error. I'm running two Cassandra nodes. If I purposely keep the connection active by running unnecessary CQL every few seconds then it won't happen.  Only happens when I allow it to be idle for sometime

[2013-04-04 12:11] kk00ss opened #126 "Exception at insertion of an item with PRIMARY KEY of type BLOB"
Hello, this is exception I've got:
{"Exception of type 'FluentCassandra.Apache.Cassandra.InvalidRequestException' was thrown."}
Messages: Not enough bytes to read value of component 0

My sample code looks like this :

[code]

![screen](https://f.cloud.github.com/assets/3996178/338755/a8a63976-9d20-11e2-9e47-2777c444c763.jpg)
";

[2013-04-04 12:56] kk00ss commented on #126
However another approach works fine, I've just recreated CF to be of type ASCII. Previous sample looks more high level.

 var key = new byte[64 \* 1024 - 2];
                for (int i = 0; i < 1024 \* 4 - 2; i++)
                    if (i == 1024 \* 4 - 3)
                        Buffer.BlockCopy(Guid.NewGuid().ToByteArray(), 0, key, 16 \* i, 14);
                    else

[2013-04-04 13:45] nberardi commented on #126
Can you explain why you are doing what you are doing, instead of just
setting the KEY as the GUID?

On Thu, Apr 4, 2013 at 8:11 AM, kk00ss notifications@github.com wrote:

[2013-04-04 16:04] kk00ss commented on #126
Yep, I'm trying to create a key of large size. For random key - it's not needed anyway, but later I'll try to use more meaningfull keys, which will encode some information about objects - kind of hashes.

[2013-04-04 16:18] nberardi commented on #126
What happens if you just pass the byte[] array directly into the key
instead of using the intermediate BytesType object.

On Thu, Apr 4, 2013 at 12:04 PM, kk00ss notifications@github.com wrote:

[2013-04-05 09:42] kk00ss commented on #126
[code]

I'm getting the same exception

[2013-04-05 13:30] nberardi commented on #126
The only other thing that I can think of is that you set the column family
up with a key type of other than BytesType.  Can you share with me the
column family definition?

On Fri, Apr 5, 2013 at 5:42 AM, kk00ss notifications@github.com wrote:

[2013-04-05 16:10] kk00ss commented on #126
That was a blob type and created via CQL shell (CQL3 cassanda 1.2). Actually I've converted that key to string and using ASCII type is OK.

[2013-04-13 18:25] kfmaurice opened #127 "Composite columns"
Hi Nick,

first of all, many thanks for the fluentcassandra library. I read about no sql and started using cassandra in .NET a couple of months ago and your library made me love  the concept of no sql. Nevetheless I have an issue with querying composite columns and I would appreciate your help very much.

I'm using fluentcassandra 1.2.0 with cassandra 1.2.0
I have created a column family with a co

[2013-04-15 16:03] nberardi commented on #127
Can you create a unit test to reproduce this in a similar fashion to https://github.com/managedfusion/fluentcassandra/tree/master/test/FluentCassandra.Tests/Bugs

[2013-04-15 16:03] nberardi commented on #126
Is this still an issue,  If so can you create a unit test similar to https://github.com/managedfusion/fluentcassandra/tree/master/test/FluentCassandra.Tests/Bugs

[2013-04-15 16:04] #112 closed, assigned to nobody

[2013-04-15 16:06] nberardi commented on #114
I wanted to give this some time.  @datastax did reach out to me, one of the conversations was very encouraging, the other was less than encouraging.  Given this, I don't think there is any easy way to move forward or collaboration points that can be had.

[2013-04-15 16:08] #120 closed, assigned to nobody

[2013-04-15 16:09] nberardi commented on #117
So where did we land on this one?

[2013-04-15 16:15] nberardi opened #128 "Direct Contributors Nomination"
I am looking for direct contributors to FluentCassandra, my time has been limited recently and I want to advance this project forward, and make sure FluentCassandra will survive in the future.

I have laid a good framework, but I think it is time for me to take a step back and let others advance FluentCassandra that are using it on a daily basis.

I would like you guys to nominate developers who y

[2013-04-15 16:16] nberardi commented on #128
I want to nominate @Aaronontheweb and @dlbromen because they have been involved for a long time and seem to understand the project and the direction it is heading.  Anybody else agree?

[2013-04-15 17:32] dlbromen commented on #117
It is still happening tens or hundreds of times per day in our system.  It got put on the back burner after I failed to reproduce it with a test app and an extremely simplified use case.

We haven't dropped it though, and at some point we'll get around to looking at it again.

[2013-04-15 17:33] nberardi commented on #117
Ok I would be interested and seeing where this is coming from, because nothing I can see right now could generate what you are describing, but that doesn't mean that something isn't happening in the code.

[2013-04-16 20:17] kfmaurice commented on #127
Hi Nick,

thanks. Just give a couple of days to create the tests. I'm rather used to NUnit. But I think it shouldn't be a problem to write down the tests.

[2013-04-17 20:37] kfmaurice commented on #127
Hi Nick,

I'm using VWD 2012 express and for some reasons I'm not able to run the test in XUnit. But I think I found out why I couldn't create keys for composite columns by using the -CreateRecord- function from the column family. It only happen only when I create the composite column by using the -ExecuteNonQuery- function of the context object i.e. by passing the cql query to your API. The colum

[2013-04-22 19:09] carlcherry opened #129 "Is this fix the right thing to do? fix for issue #75: making sure null columns gets a proper default value"
Think about this scenario:
1. Add a new boolean column to an existing CF where you already have thousands or records
2. Let's assume you want the default to be True
3. Now the Fluent API returns the default of false for all records where the field is missing

So I cannot differentiate between a null field and one explicitly set to false (Or is there some way around this?)

[2013-04-22 19:15] nberardi commented on #129
The alternative is to use a 3 state value.  `bool?` which will allow you to set to `true` or `false` or check for `null`.

[2013-04-22 19:18] carlcherry commented on #129
This should be true for all primitive types - correct?

-----Original Message-----
From: Nick Berardi notifications@github.com
Date: Mon, 22 Apr 2013 12:15:56
To: managedfusion/fluentcassandrafluentcassandra@noreply.github.com
Reply-To: managedfusion/fluentcassandra reply@reply.github.com
Cc: carlcherrycarlcherry@gmail.com
Subject: Re: [fluentcassandra] Is this fix the right thing to do?  fix for

[2013-04-22 19:24] nberardi commented on #129
Yes, but we should probably have unit tests covering this, because I don't know if I have formally wrote one for nullable types.

[2013-04-22 20:57] carlcherry commented on #129
I don't know the code very well.  From what I am seeing the idea would be to change the _value property in BooleanType to bool? And then fix any methods accordingly.  Is that where I should start?  The problem would be all the current clients using this library that don't use bool? - I assume they would all be broken.

-----Original Message-----
From: Nick Berardi notifications@github.com
Date: Mo

[2013-04-22 20:59] nberardi commented on #129
I don't think you would change the BooleanType.  In which way are you using this, are you creating schema in CQL or using the record ad-hoc.

[2013-04-22 21:00] carlcherry commented on #129
CQL3

-----Original Message-----
From: Nick Berardi notifications@github.com
Date: Mon, 22 Apr 2013 14:00:00
To: managedfusion/fluentcassandrafluentcassandra@noreply.github.com
Reply-To: managedfusion/fluentcassandra reply@reply.github.com
Cc: carlcherrycarlcherry@gmail.com
Subject: Re: [fluentcassandra] Is this fix the right thing to do?  fix for
 issue #75: making sure null columns gets a proper

[2013-05-15 14:23] AtwoodTM opened #130 "Error message reverses column family and keyspace in response"
Executed the ExecuteNonQuery method of a CassandraContext object.

The CQL passed a CREATE TABLE command for a table already setup in the "testit" keyspace.

The CQL command specifically was: CREATE TABLE security (sec_id BIGINT, name VARCHAR, PRIMARY KEY (sec_id));

The error message received from the exception object was:

Cannot add already existing family "testit" to keyspace "security".

Not

[2013-05-22 01:15] nx-jackal opened #131 "High CPU utilization when reading with FluentCassandra"
Hi, I notice that spawning multiple threads reading from Cassandra using the driver causes very high CPU load. When scanning through the source, it seems there are many that looks something like:

while(true)
{
//  polling to read or do something else
Thread.Sleep(1); // Can we add this to all the polling loops to reduce CPU usage?
}

I'm not sure how much that will affect the driver performance,

[2013-05-29 12:32] crow-ua opened #132 "Memory leaking when working with large super columns"
I have legacy Cassandra storage with ~100 supercolumns (5-6 columns per each supercolumn, ~6 mb per each column). When i'm trying to dump data, application process' memory is growing very quickly and eventually (at column ~400) I get StackOverflowException when it reaches 1.7 Gb. The interesting point is that same result occurs when I don't even read anything from columns :

[code]

Here i'm readi

[2013-06-16 19:28] Aaronontheweb commented on #128
@nberardi my availability is somewhat scarce but I'd be happy to lend a hand where possible. let me know what I can do to help.

[2013-06-17 21:54] nathannis commented on #96
What is the status of the Collections referenced here?  I am getting FluentCassandra.Operations.CassandraOperationException : Type 'org.apache.cassandra.db.marshal.SetType(org.apache.cassandra.db.marshal.UTF8Type)' not found. when trying to query out a set<text> column.

[2013-06-18 16:26] tharigopl opened #133 "Support for Blob Constant"
I cannot find support for the hexadecimal blob constants datatype defined by 0[xX](hex)\+ where hex is an hexadecimal character. Is there any generator like GUID generator. I wrote my own BlobConstant generator for my project. Just wanted to know if FluentCassandra has it.

[2013-06-22 02:37] nberardi commented on #96
We are still waiting for a patch to this.  It should be relatively easy to
add, just haven't had the time.

On Mon, Jun 17, 2013 at 5:54 PM, Nathan notifications@github.com wrote:

[2013-06-22 02:38] nberardi commented on #133
We would be happy to take a pull request for it.

On Tue, Jun 18, 2013 at 12:26 PM, tharigopl notifications@github.comwrote:

[2013-06-22 17:19] tharigopl commented on #133
Sure. Will complete it.

[2013-07-26 11:11] o-mdr commented on #59
Just wondering if anyone working on this? DataStax implemented this feature in its driver. This binary protocol seems to offer x2-3 performance increase for the batch inserts in our application.

[2013-07-26 11:25] nberardi commented on #59
Nobody right now. Do you want to take it?

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Jul 26, 2013, at 7:11 AM, Oleksii Mandrychenko notifications@github.com
wrote:

Just wondering if anyone working on this? DataStax implemented this feature
in its driver. This binary protocol seems to offer x2-3 performance
increase for the batch inserts in our application.

—
Reply to this

[2013-07-26 11:44] o-mdr commented on #59
I would like to do minor contribution, such as writing tests and implementing tiny little features. So if someone knows the details of the protocol and have vision to do it, I would like to assist.

Probably cannot do more due to other commitments and lack of knowledge.

[2013-09-16 22:15] dlbromen commented on #117
I finally got back around to investigating this.  At this point, I am 99% sure I have discovered the problem, and ruled out FluentCassandra as the cause.  For that reason, I am closing this issue.

For the good of the community, I will explain what I found in more detail once I have confirmation in production that I have resolved the issue.  Long story short is: Assignment of a Guid variable is no

[2013-09-16 22:15] #117 closed, assigned to nberardi

[2013-10-02 22:11] nathannis commented on #94
We have run into this when trying to detect CQL3 column families on Cassandra 1.2.9 using FluentCassandra 1.2.  Here is the hack I am using right now. If I get time, I'll research the issue more fully and submit a tested pull request.

[code]

[2013-10-03 14:50] LinJiarui opened #137 "exception should be thrown when cassandra is down"
when trying "Your First Fluent Cassandra Application" example, if the cassandra is down, it seems that Fluent Cassandra keeps attempting to connect the server, maybe throwing an exception is better choice.

[2013-10-03 19:19] Aaronontheweb commented on #137
Cassandra is not SQL Server - you're supposed to run multiple nodes in a production Cassandra cluster, and if one of them goes down it simply gets blacklisted for some period of time until that node is restored.

FluentCassandra will throw an exception after 30s or so after not being able to contact _any_ node, which satisfies your requirement.

[2013-10-05 00:18] LinJiarui commented on #137
got it! thanks:)

[2013-10-30 14:36] lzw88 opened #138 "thrift client throws failed: unknown result or Bad protocol identifier"
Hi everyone,
    I am using C++ thrift client.
    I am using java thrift server.

I am facing issue C++ client randomly logging:
<service_name> failed: unknown result or Bad protocol identifier

Most of the time calls are working only in some time only that error is
getting logged. What could be the issue here ?

thanks everyone

[2013-10-31 06:01] Aaronontheweb commented on #138
Are you actually using FluentCassandra?

[2013-10-31 15:01] lzw88 commented on #138
No, I am using thrift 0.8.

[2013-11-01 01:20] #137 closed, assigned to nobody

[2013-11-01 01:21] Aaronontheweb commented on #127
@kfmaurice Maurice,

XUnit is pretty close to NUnit - if you can't write it in XUnit, go ahead and write the test in NUnit and post it to a gist on Github. I'll integrate it back into the FluentCassandra trunk as an XUnit item.

[2013-11-01 01:34] Aaronontheweb commented on #138
Sorry - not sure what your problem might be. You should try StackOverflow or the Thrift mailing list.

[2013-11-01 01:34] #138 closed, assigned to nobody

[2013-11-12 00:20] Aaronontheweb opened #140 "Switching build system to Albacore / Rake"
@nberardi going to rewrite the NuGet packaging system to an Albacore / Rake-based system if you don't have any objections. We use it for maintaining all of our commercial and OSS NuGet packages and have had great success with it.

Albacore requires a basic Ruby installation on the target machine but beyond that it's pretty vanilla.

[2013-11-12 02:00] nberardi commented on #140
Sounds good to me.

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Nov 11, 2013, at 7:21 PM, Aaron Stannard notifications@github.com
wrote:

@nberardi https://github.com/nberardi going to rewrite the NuGet
packaging system to an Albacore / Rake-based system if you don't have any
objections. We use it for maintaining all of our commercial and OSS NuGet
packages and have had great

[2013-11-26 15:48] nberardi opened #141 "Push Latest Code To NuGet"
Hi @Aaronontheweb

Thought that having a task might be the easiest first step for us working through the issues of getting you access to NuGet, if there are any issues.

Nick

[2013-11-26 17:31] Aaronontheweb commented on #141
@nberardi Nick, yep - I definitely need to push the latest. Planning on sending a pull request this week with an Albacore-based build system to make it easier to package and from there I'll submit the latest to NuGet.

[2013-11-27 17:45] #140 closed, assigned to Aaronontheweb

[2013-11-27 17:45] #141 closed, assigned to nobody

[2013-12-05 21:38] sdether opened #144 "SingleServerManager goes into silent spin-loop on server failure"
`SingleServerManager` silently ignores failures which means tha `NormalConnectionProvider.Open` can never fail but just goes into a spin-loop of retrying connections as fast as possible.

I know there is even a test that makes sure that failure does not impede `SingleServerManager.HasNext` to ever be `false`. However this runs counter to to the behavior of `RoundRobinServerManager` which will even

[2013-12-05 22:12] Aaronontheweb commented on #144
@sdether I was just looking at this source today and wondering the same thing...

Truth be told: using the SingleServerManager in production is a bad idea given how Cassandra's reliability is built on top of replication and server redundancy, **BUT** as you point out, it should still let you know that something went wrong when it's unable to establish a connection.

I also think that `HasNext` sho

[2013-12-05 22:33] igorberger commented on #144
Please keep in mind the situation where a single server is a round-robin load balancer address hiding multiple cassandra hosts.

[2013-12-05 22:58] nathannis commented on #144
I submitted the SingleServerManager code originally. We are using a load balancer (under a single IP address) to  actually perform the connections.  At the time, the existing code would blacklist our load balancer and just return something about the connection failing without even trying to connect.  Since then, I have found a Datastax recommendation against using a load balancer.  http://www.data

[2013-12-05 23:00] sdether commented on #144
@igorberger @nathannis what i can do is maintain the old _"never fail"_ behavior if `IConnectionBuilder.ServerPollingInterval` is set to zero, since that's currently not used for `SingleServerManager` anyway.

[2013-12-05 23:03] igorberger commented on #144
Sounds reasonable to me. We don't use a single host. I just remembered the check-in from @nathannis.

[2013-12-05 23:06] nberardi commented on #144
Its not implemented. It would probably work best with the round robin.

I think it may make sense remove that silent fail from SingleServerManager
because we shouldn't really be swallowing such a critical error.

And to support custom implementations like Nathans it might be best to have
the ability to swap out the manager instead.

Thoughts.
On Dec 5, 2013 5:58 PM, "Nathan Shirlberg" notification

[2013-12-05 23:15] sdether commented on #144
@nberardi I'm in favor of making the manager swappable if that's acceptable.

I was mostly considering the PollingInterval == 0 behavior to maintain existing behavior without change, but since ConnectionBuilder defaults that to 30, the fix to remove the spin-loop would be a breaking change regardless.

I'll add the ability to make the manager swappable and rename the old SingleServerManager implem

[2013-12-06 00:25] Aaronontheweb commented on #144
@nathannis I believe you're referring to the auto-discovery behavior. This has been discussed before with FluentCassandra. I'm in favor of adding that at some point although there are some major issues with it for people who have their Cassandra instances' rpc_address set to 0.0.0.0 (IPAddress.Any) as they will broadcast both internal and external IPs.

@sdether @nberardi sounds good to me - make

[2013-12-08 18:47] sdether commented on #144
Created pull https://github.com/fluentcassandra/fluentcassandra/pull/145 for this change. Looks like the pull is a bit noisy, since my setup uses spaces instead of tabs, vs. the standard. Let me know if i need to figure out how to reformat that or if that's acceptable

[2013-12-08 20:03] nberardi commented on #144
Do you happen to have
http://visualstudiogallery.msdn.microsoft.com/dbcb8670-889e-4a54-a226-a48a15e4cace
installed?
 The fix mixed tabs tool is great for auto cleaning these types of problems.

Nick

On Sun, Dec 8, 2013 at 1:47 PM, Arne Claassen notifications@github.comwrote:

[2013-12-08 20:41] sdether commented on #144
Installed the power tools. Apparently it stepped on some Resharper settings :(

Anyway, pull updated with whitespace fixes

[2013-12-09 04:26] Aaronontheweb commented on #144
@sdether thanks for the pull request - will review your submission tomorrow and run your tests. Eyeballed the source and it looks good, but I'll give it a more thorough look tomorrow.

[2013-12-12 00:28] Aaronontheweb commented on #144
reviewed code and unit tests today - looks good; accepted pull request. Changes will be included in next release of the NuGet package, which I will do before Christmas.

[2013-12-12 00:28] #144 closed, assigned to nobody

[2013-12-13 18:31] sdether commented on #125
I think the problem is likely because GetClient uses `_connection.IsOpen` to determine whether the existing connnection can be used for building the `CassandraClientWrapper`. This in turn relies on `TcpClient.Connected` way down in `TSocket`. In my own RPC library `MindTouch.Clacks` I discovered the hard way that `Connected` is only useful for determining the connection has failed after a network

[2013-12-13 18:37] nberardi commented on #125
Has anybody checked for an update on the Thrift library.  It has probably been almost a year since it was last updated.

[2013-12-13 18:56] sdether commented on #125
I just looked at the current source and it seems like there's been fixes. Their implementation of `TSocket` does include connect time out now, but still relies on `Connected` for `IsOpen`. If my change actually fixes this bug, I'll try to get it into the upstream Thrift and we can pick it up here via Thrift

[2013-12-13 19:03] nberardi commented on #125
Should probably also regenerate the Cassandra API for Thrift while doing it.  It was probably last done about a year ago.

[2013-12-13 19:04] nberardi commented on #131
Can you please document the places you have found this?

[2013-12-13 19:06] #128 closed, assigned to nobody

[2013-12-13 20:44] igorberger commented on #125
I don't know if this is the same problem, but we have a local patch to clean up the socket in case of errors. Unfortunately, it's inside Thrift. We've added "this.Close();" to TTransport.ReadAll():

public int ReadAll(byte[] buf, int off, int len)
{
    int got = 0;
    int ret = 0;

[code]

}

[2013-12-14 00:41] sdether commented on #125
I made the connect change, which led to some other issues, because apparently the code path that would reconnect if `IsOpen` is false has never been exercised. I.e. if you try to re-open the socket on a socket that is marked `Connected` false, it'll just throw, so the client should really be thrown away and a new instance used.

However we wrap the `TTransport` in an `IConnection`, which keeps som

[2013-12-14 22:25] sdether commented on #125
To put some numbers behind _a noticeable change in performance_ is, i ran some benchmarks and against my dev instance: An insert currently takes an average of 0.61ms. After adding the socket poll to check the connection that rises to 3.2ms (5x slower), so clearly not acceptable.

Ideally I'd just check `IsOpen` when getting a connection from the pool, but that would be a major change, so instead I

[2014-01-08 21:13] Aaronontheweb commented on #96
Forgot to close this issue. It's been resolved since release v1.2.4

[2014-01-08 21:13] #96 closed, assigned to nberardi

[2014-01-08 21:14] #133 closed, assigned to nobody

[2014-01-08 21:20] Aaronontheweb commented on #144
Just included this fix in the latest release of FluentCassandra, version v1.2.5 - now live on NuGet.

[2014-01-08 21:32] Aaronontheweb commented on #59
I've given this issue some thought as of late... Eventually we're going to have to add support for the native protocol when DataStax starts introducing features that depend on it.

As I understand it, the network protocol itself is just protobuffs with framed messages. DataStax implemented this themselves in their CQL3 driver as did CqlSharp (https://github.com/reuzel/CqlSharp) - we could follow s

[2014-01-08 21:36] Aaronontheweb opened #147 "add Prepared Statement support"
Another really good idea from the CQL3 specification and changes introduced in Cassandra 1.2:
- **CQL Prepared Statements**: http://www.datastax.com/documentation/cql/3.1/webhelp/cql/cql_reference/prepared_stmt_c.html - Using a prepared statement, Cassandra parses a query only once, but executes it multiple times with different concrete values.

I haven't been able to find the protocol specificati

[2014-01-08 21:38] Aaronontheweb commented on #125
@sdether how well has this fix been working for you in production thus far? Still considering a pull request?

[2014-01-08 21:39] Aaronontheweb commented on #133
@tharigopl the code used for adding the appropriate blob constants in CQL3 can be found in the `CqlHelper` class. From the `CqlHelperTest`:

[code]

[2014-01-08 21:42] Aaronontheweb opened #148 "Need updated documentation and more examples"
Most of the documentation for FluentCassandra is fairly dated, and not to mention scarce.

We should really put some effort into helping make it easier to pick up FluentCassandra  and run with it, and I think the best way to accomplish that is through the use of more examples and documentation.

I'm going to keep this issue open to suggestion - if you have any:
- blog posts
- youtube videos
- code

[2014-01-08 22:35] sdether commented on #125
It's spent the holidays on our staging deployment and has been in production for the last week and we've not seen the connection errors occur in that time. I'm hoping to make some time to try create a pull request with the IsOpen change against Thrift, although i'm not optimistic about its acceptance, since as a drop-in replacement it changes performance behavior of that call rather drastically. S

[2014-01-08 22:43] Aaronontheweb commented on #125
@sdether I'll defer to @nberardi but I'd go for the customer TSocketConnectionTimeout changes instead given your concerns about performance.

[2014-01-08 22:54] nberardi commented on #125
Same here, I am alright with the custom version.

The only problem with modifying this is that it can be easily copied over
with a new version of Thrift. Any solution, other than remembering not to
do so?

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Jan 8, 2014, at 5:43 PM, Aaron Stannard notifications@github.com wrote:

@sdether https://github.com/sdether I'll defer to
@nber

[2014-01-08 22:58] Aaronontheweb commented on #125
@nberardi @sdether IMHO, we should regenerate the Thrift bindings first THEN add this. Given the movement towards the native protocol within the Cassandra project I doubt we're going to be seeing many major updates to the Thrift implementation soon.

[2014-01-08 23:13] nberardi commented on #125
Agreed.

##

Nick Berardi
(484) 302-0125
Sent on the go from my phone.

On Jan 8, 2014, at 5:58 PM, Aaron Stannard notifications@github.com wrote:

@nberardi https://github.com/nberardi
@sdetherhttps://github.com/sdetherIMHO, we should regenerate the
Thrift bindings first THEN add this. Given
the movement towards the native protocol within the Cassandra project I
doubt we're going to be seeing man

[2014-01-08 23:51] sdether commented on #125
Currently the custom version is already living outside the Thrift source tree, so if we re-generate Thrift, the custom code will stick around. Main issue there is that the custom TSocket has to manually merge the Thrift changes to TSocket in. I will do this and provide a pull request after you guys pull the latest thrift

[2014-01-29 20:30] ilushka85 opened #150 "Incorrect code in MultiGetColumnCount.cs"
In multigetcolumncount.cs we have this code:

public override IDictionary<CassandraObject, int> Execute()
        {
            var schema = ColumnFamily.GetSchema();

[code]

the last line sends the final parameter to setschemaforslicepredicate  as supercolumnname==null

this means if supercolumnname==null we send true  even though we should send false.

The parameter in question:

public static

[2014-01-29 23:22] ilushka85 commented on #150
Second issue.... with MultiGetColumnCount   -  When using guids for keys the returned dictionary of keys / count has wrong value for keys because they were not converted to bigendian when needed.  the code i have applied makes this function more closely match the existing working multigetslice function.  in retrieving a single count for a single key the code is proper as bigendian conversion happe

[2014-01-30 08:44] Aaronontheweb commented on #150
Could you please send a pull request with these changes?

[2014-02-20 11:20] tekbird opened #151 "Inserting composite key using API fails"
I have a composite key with two columns, both of which are Guid. It fails to do CreateRecord.

[2014-04-02 23:51] sdether opened #152 "Various objects leaking"
I've discovered that ConnectionBuilder, all ServerManager subtypes, all IConnectionProvider implementations will never be garbage collected.

I've been troubleshooting some problems on mono where failed servers are never picked up as recovered. Seems Timer related, but i don't have an answer for that yet.

However in that investigation, i noticed that ServerManagerFactory and ConnectionProviderFac

[2014-04-03 00:05] Aaronontheweb commented on #152
This explains some of the non-timeout "timeouts" I've been seeing lately (was pretty sure it was related to App Pool memory limit being exceeded)

This sounds like a reasonable approach - we need to implement some form of garbage collection. Send a PR and I'll approve it - btw, still have a PR for #125 that you want to send? I still need to merge the updated Thrift bindings.

[2014-04-03 16:17] sdether commented on #152
@Aaronontheweb ok, i'll put it together and submit it.

Re: #125 It's been in production for us since the beginning of the year and it seems to be working perfectly at detecting connection failures. Unfortunately i ran into this issue where failed servers never recover under some configurations of mono (can't tell what is causing it, works on my VM, breaks in AWS in production). The short of it, y

[2014-04-03 16:25] Aaronontheweb commented on #152
@sdether Just merged the latest Thrift bindings for C# via #149 - should be ready for your PR.

[2014-04-03 17:06] sdether opened #153 "Multi-keyspace clusters cannot take advantage of connection pooling"
Since `ConnectionProviders` are tied to `ConnectionBuilders`, they are implicitly per keyspace. So if your cluster has multiple keyspaces, each keyspace will have its own pool of connections. This can be especially problematic in a multi-tenant application where there might be hundreds of keyspaces.

From an initial investigation, `ConnectionBuilder.Keyspace` is used to set the Keyspace on the con

[2014-04-03 17:27] Aaronontheweb commented on #153
I think decoupling the network topology from the schema is something we should already be doing. Please go ahead and make those changes while you're at it :)

[2014-04-23 18:52] sdether commented on #153
Just wanted to update my status on this. I've completed the work for both #152 and #153 and am about to deploy it to production. If that goes well, I'll clean up the code (my code formatting settings are unfortunately rather different for work) and submit a pull

[2014-04-23 18:52] sdether commented on #152
Just wanted to update my status on this. I've completed the work for both #152 and #153 and am about to deploy it to production. If that goes well, I'll clean up the code (my code formatting settings are unfortunately rather different for work) and submit a pull

[2014-05-01 19:56] Aaronontheweb commented on #152
@sdether ok, thanks Arne!

[2015-07-28 14:57] kevinzen commented on #114
Correct me if I'm wrong, but Apache licensing specifically does not require attribution of sources.

It does require that attribution statements in the code be left intact, but not that anything new be added.

If attribution is desired, then there are other license models that can be used for that. They specifically require it.

If you license code as open source under a license that tells them th

[2015-07-28 15:42] nberardi commented on #114
What code in the JVM did I directly copy and use in my .NET code?

Plus you are completely wrong.  Search for attribution in the license yourself. It must contain all attributions that exist in the original source.

http://www.apache.org/licenses/LICENSE-2.0.txt

Lastly regardless of licensing it is a complete dick move of the developer at DataStax and DataStax to condone.